openapi: 3.0.3
info:
  title: edgeCloud Control Plane API
  version: 1.0.0
  description: |
    HTTP API for the edgeCloud managed WebAssembly edge computing platform.
    Supports tenant and worker authentication. Tenants authenticate via
    Bearer API key. Workers authenticate via Bearer JWT (HMAC-SHA256).

servers:
  - url: https://api.edgecloud.dev
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: Tenant API key (Bearer token). Obtain via POST /api/v1/keys.
    WorkerJWTAuth:
      type: http
      scheme: bearer
      description: Worker JWT (HMAC-SHA256). Issued to workers by the control plane.
    InternalTokenAuth:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: |
        Shared-secret header for trusted service-to-service callers
        (peer control planes pulling artifacts, the edge-ingress
        fetching traffic splits). Token value must match the
        receiving control plane's `internal_token` config. Reject
        requests to `http://` peer URLs — TLS is required to protect
        the token in transit.

  schemas:
    # -------------------------------------------------------------------------
    # Shared
    # -------------------------------------------------------------------------
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: NOT_FOUND
            message:
              type: string
              description: Human-readable error detail. Always "internal error" for 5xx.
              example: deployment not found

    # -------------------------------------------------------------------------
    # Health
    # -------------------------------------------------------------------------
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok

    # -------------------------------------------------------------------------
    # Tenants
    # -------------------------------------------------------------------------
    BootstrapRequest:
      type: object
      required: [name, key_name]
      properties:
        name:
          type: string
          description: Unique tenant name.
          example: acme
        plan:
          type: string
          default: free
          description: Subscription plan.
          example: free
        key_name:
          type: string
          description: Name for the first API key.
          example: default

    BootstrapResponse:
      type: object
      properties:
        tenant_id:
          type: string
          description: The new tenant's ID.
          example: t_abc123
        api_key:
          type: string
          description: |
            The raw API key. Shown only once — store it securely.
            Use Authorization: Bearer <api_key> for all subsequent requests.
          example: ek_...

    CreateTenantRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: acme
        plan:
          type: string
          example: free

    Tenant:
      type: object
      properties:
        id:
          type: string
          example: t_abc123
        name:
          type: string
          example: acme
        plan:
          type: string
          example: free
        allowlisted_destinations:
          type: array
          items:
            type: string
          example: ["api.stripe.com"]
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
          example: acme-inc
        plan:
          type: string
          example: pro
        allowlisted_destinations:
          type: array
          items:
            type: string
          example: ["api.stripe.com", "api.github.com"]

    # -------------------------------------------------------------------------
    # API Keys
    # -------------------------------------------------------------------------
    CreateAPIKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: ci-key
        role:
          type: string
          default: developer
          description: "Role for this key: 'developer' or 'owner'."
          example: developer

    CreateAPIKeyResponse:
      type: object
      properties:
        id:
          type: string
          example: k_abc123
        name:
          type: string
          example: ci-key
        role:
          type: string
          example: developer
        token:
          type: string
          description: Raw key shown only once.
          example: ek_...

    APIKeyInfo:
      type: object
      properties:
        id:
          type: string
          example: k_abc123
        name:
          type: string
          example: ci-key
        role:
          type: string
          example: developer
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"
        last_used:
          type: string
          format: date-time
          nullable: true
          description: |
            Most recent time this key authenticated a request. Absent
            (or null) for keys that have never been used. RFC3339.
          example: "2026-07-08T11:23:45Z"
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            Absolute expiry timestamp. Absent (or null) for keys
            that do not expire.
          example: "2027-01-01T00:00:00Z"

    UpdateAPIKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: New name. Omit to leave unchanged.
          example: renamed-key
        role:
          type: string
          description: "New role. Omit to leave unchanged. Valid roles: 'developer', 'owner', 'viewer'."
          example: viewer

    CreateWebhookRequest:
      type: object
      required: [url, secret, events]
      properties:
        url:
          type: string
          format: uri
          description: HTTPS callback URL.
          example: https://hooks.example.com/deploy
        secret:
          type: string
          description: HMAC signing secret (min 16 chars).
          example: whsec_abc123def456
        events:
          type: array
          items:
            type: string
            enum: [deploy, activate, rollback, auto_rollback]
          description: Event types that trigger this webhook.
          example: [deploy, activate]
        description:
          type: string
          description: Optional description.
          example: Production deploy notifications

    Webhook:
      type: object
      properties:
        id:
          type: string
          example: wh_abc123
        tenant_id:
          type: string
          example: t_abc123
        url:
          type: string
          example: https://hooks.example.com/deploy
        events:
          type: array
          items:
            type: string
          example: [deploy, activate]
        description:
          type: string
          example: Production deploy notifications
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2026-07-03T18:00:00Z"

    UpdateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTPS callback URL. Omit to leave unchanged.
        secret:
          type: string
          description: New HMAC signing secret. Omit to leave unchanged.
        events:
          type: array
          items:
            type: string
          description: Replace event types. Omit to leave unchanged.
        description:
          type: string
          description: Replace description. Omit to leave unchanged.
        enabled:
          type: boolean
          description: Enable or disable. Omit to leave unchanged.

    WebhookListResponse:
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'

    # -------------------------------------------------------------------------
    # Apps
    # -------------------------------------------------------------------------
    CreateAppRequest:
      type: object
      properties:
        description:
          type: string
          description: Optional human-readable description.
          example: Main web app

    UpdateAppRequest:
      type: object
      properties:
        description:
          type: string
          nullable: true
          description: |
            New description. Send `null` or omit to leave unchanged.
            Send `""` to clear the description.
          example: Updated description

    App:
      type: object
      properties:
        id:
          type: string
          example: a_abc123
        tenant_id:
          type: string
          example: t_abc123
        name:
          type: string
          example: web-app
        description:
          type: string
          nullable: true
          example: Main web app
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"

    AppListResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/App'
        limit:
          type: integer
          example: 50
        offset:
          type: integer
          example: 0

    # -------------------------------------------------------------------------
    # Deployments
    # -------------------------------------------------------------------------
    Deployment:
      type: object
      properties:
        id:
          type: string
          example: d_abc123
        tenant_id:
          type: string
          example: t_abc123
        app_name:
          type: string
          example: web-app
        status:
          type: string
          enum: [deployed, active, failed, migrated]
          example: deployed
        hash:
          type: string
          description: SHA-256 of the Wasm artifact (lowercase hex).
          example: 3a2f5e4b6c1d...
        signature:
          type: string
          description: |
            Ed25519 signature over `sha256_raw_32_bytes || deployment_id`
            (lowercase hex of the artifact SHA-256, then the deployment
            id). base64url, no padding.
          example: 5c1e9b...
        signing_key_id:
          type: string
          description: |
            Operator-chosen kid identifying which Ed25519 public key from
            the worker keyring should verify the signature.
          example: prod-2026-q3
        regions:
          type: array
          items: { type: string }
          example: [us-east-1, eu-west-1]
        auto_rollback_enabled:
          type: boolean
          example: false
        desired_replicas:
          type: integer
          description: |
            Number of workers that should run this deployment in each
            region (issue #316). 0 means no threshold.
          example: 0
        build_attestation:
          type: object
          nullable: true
          additionalProperties: true
          description: SLSA L1 DSSE envelope (issue #307 PR2).
        url:
          type: string
          description: |
            Public ingress hostname computed from `tenant_id` + `app_name`
            via `domain.IngressHost`. Always present in
            status / list / active responses.
          example: https://web-app.t_abc123.edgecloud.dev
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"
        preview_id:
          type: string
          nullable: true
          description: |
            Hex preview-id (issue #308). Present iff the deployment was
            uploaded via `?preview-id=<hex>`. The worker scopes its
            per-tenant persistent stores under
            `<EDGE_*_PATH>/{tenant_id}/preview-{id}/` so concurrent
            previews don't trample each other's keys.
          example: abcd1234
        preview_pr_number:
          type: integer
          nullable: true
          description: |
            GitHub PR number the composite action forwarded. When
            non-null, the guest sees `EDGE_PREVIEW_PR_NUMBER=<N>` in
            its `process.get_environment` response.
          example: 123
        preview_expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            Absolute TIMESTAMPTZ the deployment row is deleted at by
            the PreviewGCService sweep. Set on every preview deploy;
            null for non-preview rows.
          example: "2026-07-16T00:00:00Z"

    DeployResponse:
      type: object
      properties:
        id:
          type: string
          description: The new deployment ID.
          example: d_abc123
        hash:
          type: string
          description: SHA-256 of the uploaded artifact.
          example: 3a2f5e4b6c1d...
        url:
          type: string
          description: The target ingress URL for this deployment.
          example: https://web-app.t_abc123.edgecloud.dev
        preview_id:
          type: string
          description: |
            Echo of the `preview-id` query param (issue #308). Empty
            string for non-preview deploys.
          example: abcd1234
        preview_pr_number:
          type: integer
          description: |
            Echo of the `preview-pr-number` query param. Zero for
            non-preview deploys or for `--preview` runs without a PR
            context.
          example: 123
        preview_expires_at:
          type: string
          format: date-time
          description: |
            RFC3339 expiry the control plane computed. Empty for
            non-preview deploys. The CLI persists this into
            `.edge/state.json` so `edge status` can show "expires in
            5d 12h" without re-querying the server.
          example: "2026-07-16T00:00:00Z"

    DeploymentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        total:
          type: integer
          example: 3
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0

    ActivateResponse:
      type: object
      properties:
        status:
          type: string
          example: activated

    RollbackResponse:
      type: object
      properties:
        deployment_id:
          type: string
          example: d_prev
          description: |
            Deployment id now active after the rollback — i.e., the
            prior `last_good_deployment_id`. Callers can persist this
            into local state so subsequent commands (e.g. `edge open`)
            target the rolled-back version.

    # -------------------------------------------------------------------------
    # Logs (issue #77 — read side)
    # -------------------------------------------------------------------------
    LogEntry:
      type: object
      description: |
        A single tenant log record. Populated by worker-side
        `edge:observe.emit_log` calls and forwarded to the control
        plane via `POST /api/internal/logs` (issue #76 / PR #98).
        Read back to tenants via `GET /api/v1/apps/{appName}/logs`.
      properties:
        id:
          type: integer
          format: int64
          example: 12345
        tenant_id:
          type: string
          example: t_abc123
        deployment_id:
          type: string
          example: d_xyz
        app_name:
          type: string
          example: myapp
        worker_id:
          type: string
          example: w_us-east-1_h01
        region:
          type: string
          example: us-east-1
        level:
          type: string
          enum: [trace, debug, info, warn, error]
          example: info
        message:
          type: string
          example: request handled in 12ms
        labels:
          type: object
          additionalProperties: true
          example: {"request_id": "req_42", "status": 200}
        ts:
          type: string
          format: date-time
          description: RFC3339 timestamp at which the log was recorded (server clock).
          example: 2026-06-24T12:00:00.123456Z

    LogListResponse:
      type: object
      description: |
        Envelope returned by `GET /api/v1/apps/{appName}/logs`. Items
        are ordered newest-first (by `ts` DESC). `limit` echoes the
        effective ceiling the server applied (after clamping the
        request to [1, 1000]); `since` echoes the cutoff timestamp
        when one was supplied or applied as a default.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        limit:
          type: integer
          example: 100
          description: Effective limit (clamped to [1, 1000]).
        since:
          type: string
          format: date-time
          description: |
            RFC3339 cutoff the server applied as the lower bound on
            `ts`. Empty when no `since` was supplied AND no default
            was applied (clients should not pin follow-on requests
            to a specific ts in that case).
          example: 2026-06-24T11:55:00Z

    AppWorkerStatus:
      type: object
      description: |
        Tenant-facing projection of the worker-reported status of one
        app, returned by `GET /api/v1/apps/{appName}/status`. `status`
        is the same string the worker publishes in NATS heartbeats
        (one of `running`, `starting`, `stopping`, `crashed`, `hung`),
        plus `unknown` when no worker has reported on this app yet.

        `last_heartbeat` is null when no worker has ever reported on
        the app. There is no server-side TTL on heartbeats — a dead
        worker leaves its last-known status behind indefinitely. The
        client should treat a heartbeat older than a few minutes
        (the worker default is 30s) as stale.
      properties:
        app_name:
          type: string
          example: myapp
        status:
          type: string
          enum: [running, starting, stopping, crashed, hung, unknown]
          example: running
        last_heartbeat:
          type: string
          format: date-time
          nullable: true
          example: 2026-06-24T12:00:00Z
        region:
          type: string
          example: us-east-1
        worker_id:
          type: string
          example: w_us-east-1_h01
        exit_code:
          type: integer
          format: int32
          nullable: true
          description: |
            Process exit code from the worker's last observation of
            this app. Set on `crashed` statuses, absent otherwise.
          example: 137

    # -------------------------------------------------------------------------
    # Ingress
    # -------------------------------------------------------------------------
    IngressResponseReady:
      type: object
      properties:
        ready:
          type: boolean
          example: true
        app_name:
          type: string
          example: web-app
        tenant_id:
          type: string
          example: t_abc123
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        worker_addr:
          type: string
          example: 203.0.113.42
        port:
          type: integer
          example: 8080

    IngressResponseNotReady:
      type: object
      properties:
        ready:
          type: boolean
          example: false
        app_name:
          type: string
          example: web-app
        reason:
          type: string
          example: no running app found for this tenant

    # -------------------------------------------------------------------------
    # Environment Variables
    # -------------------------------------------------------------------------
    SetEnvRequest:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          example: LOG_LEVEL
        value:
          type: string
          example: debug

    EnvList:
      type: array
      items:
        type: object
        required: [key, value]
        properties:
          key:
            type: string
            example: LOG_LEVEL
          value:
            type: string
            example: debug

    # -------------------------------------------------------------------------
    # Egress
    # -------------------------------------------------------------------------
    EgressAllowlist:
      type: object
      properties:
        allowlist:
          type: array
          items:
            type: string
          description: >
            Outbound hostname allowlist. Empty array means allow-all (no restriction).
            Each entry is either an exact FQDN (`api.stripe.com`) or a single-level
            wildcard pattern (`*.sendgrid.net`). Entries are stored lowercase.
          example:
            - api.stripe.com
            - "*.sendgrid.net"

    # -------------------------------------------------------------------------
    # Quotas
    # -------------------------------------------------------------------------
    Quota:
      type: object
      properties:
        tenant_id:
          type: string
          example: t_abc123
        max_deployments:
          type: integer
          description: Maximum deployments per app.
          example: 10
        max_apps:
          type: integer
          description: Maximum apps for this tenant.
          example: 5
        max_workers:
          type: integer
          description: Maximum workers for this tenant.
          example: 3
        max_memory_mb:
          type: integer
          description: Memory limit in MB per worker.
          example: 256
        max_outbound_mb:
          type: integer
          description: Outbound egress cap in MB per month. -1 = unlimited (enterprise).
          example: 1000
        max_requests_per_month:
          type: integer
          description: |
            Request-count cap per calendar month (UTC). -1 = unlimited (enterprise).
            Default value depends on the tenant's plan:
            free=100000, pro=5000000, business=50000000, enterprise=unlimited.
          example: 5000000
        used_outbound_bytes:
          type: integer
          format: int64
          description: Cumulative outbound bytes used in the current UTC month. Resets on month rollover.
          example: 0
        used_request_count:
          type: integer
          format: int64
          description: Cumulative request count in the current UTC month. Resets on month rollover.
          example: 0
        quota_period_start:
          type: string
          format: date-time
          description: UTC timestamp at which the current usage period began. Used as the month-rollover boundary.
          example: 2026-07-01T00:00:00Z
        usage_pct:
          type: number
          nullable: true
          description: |
            Highest usage percentage across the two monthly caps
            (outbound_bytes / max_outbound_mb and request_count / max_requests_per_month),
            expressed as a 0-100 value. null when both caps are unlimited.
          example: 42.5

    # -------------------------------------------------------------------------
    # Migration
    # -------------------------------------------------------------------------
    MigrationReport:
      type: object
      properties:
        status:
          type: string
          enum: [migrated, failed]
          example: migrated
        wasm_stored:
          type: boolean
          example: true
        deployment_id:
          type: string
          nullable: true
          example: d_abc123
        app_name:
          type: string
          example: hello-world
        patterns_detected:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        patterns_transformed:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        patterns_manual_review:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'

    # FullPatternInfo mirrors the Go PatternInfo struct (line-level detail
    # with snippet and wasi_equivalent). Used by FileReport in the tree
    # migration response.
    FullPatternInfo:
      type: object
      properties:
        line:
          type: integer
          example: 42
        pattern:
          type: string
          example: socket
        snippet:
          type: string
          example: int fd = socket(AF_INET, SOCK_STREAM, 0);
        wasi_equivalent:
          type: string
          example: wasi:network/tcp-socket
        transformability:
          type: string
          enum: [auto-transformable, best-effort, not-transformable]

    # FileReport is the per-file result in a tree migration response.
    FileReport:
      type: object
      properties:
        path:
          type: string
          example: src/main.c
        status:
          type: string
          enum: [success, partial, failed]
        patterns_detected:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        transformations:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        manual_review:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'

    # TreeMigrationReport is the JSON response returned by POST /api/v1/migrate-tree.
    TreeMigrationReport:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial, failed]
        wasm_stored:
          type: boolean
          example: true
        deployment_id:
          type: string
          nullable: true
          example: d_abc123
        app_name:
          type: string
          example: hello-world
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileReport'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'
        files_total:
          type: integer
          example: 5
        files_transformed:
          type: integer
          example: 3
        files_manual_review:
          type: integer
          example: 1

    PatternInfo:
      type: object
      properties:
        pattern:
          type: string
          example: socket
        count:
          type: integer
          example: 3
        description:
          type: string
          example: BSD socket abstraction layer

    ErrorInfo:
      type: object
      properties:
        line:
          type: integer
          example: 42
        message:
          type: string
          example: unhandled macro expansion

    # -------------------------------------------------------------------------
    # Workers (internal)
    # -------------------------------------------------------------------------
    RegisterWorkerRequest:
      type: object
      required: [worker_id, region]
      properties:
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        ip:
          type: string
          example: 203.0.113.42
        memory_mb:
          type: integer
          example: 512

    Worker:
      type: object
      properties:
        id:
          type: string
          example: w_us-east1_01
        tenant_id:
          type: string
          example: t_abc123
        region:
          type: string
          example: us-east1
        ip:
          type: string
          example: 203.0.113.42
        memory_mb:
          type: integer
          example: 512

    WorkerListResponse:
      type: object
      properties:
        workers:
          type: array
          items:
            $ref: '#/components/schemas/Worker'

    # -------------------------------------------------------------------------
    # Auth
    # -------------------------------------------------------------------------
    WhoamiResponse:
      type: object
      properties:
        tenant_id:
          type: string
          example: t_abc123
        tenant_name:
          type: string
          example: acme
        plan:
          type: string
          example: free
        api_key_id:
          type: string
          example: k_abc123
        api_key_name:
          type: string
          example: default
        role:
          type: string
          example: owner
        created_at:
          type: string
          format: date-time
          description: When the tenant account was created.
          example: "2026-01-02T03:04:05Z"

    # -------------------------------------------------------------------------
    # Cluster (admin)
    # -------------------------------------------------------------------------
    ClusterView:
      type: object
      description: Per-region snapshot of cluster state.
      properties:
        generated_at:
          type: string
          format: date-time
          description: Server-side timestamp when this view was assembled.
        regions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RegionView'

    RegionView:
      type: object
      properties:
        workers:
          type: array
          items:
            $ref: '#/components/schemas/WorkerStatus'
        apps_per_worker_avg:
          type: integer
          description: Mean number of apps hosted per worker in this region.

    WorkerStatus:
      type: object
      properties:
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        ip:
          type: string
          description: Worker public IP. Omitted when not reported.
          example: 203.0.113.42
        last_seen:
          type: string
          format: date-time
          description: Last heartbeat timestamp.
        app_count:
          type: integer
          description: Number of apps the worker reported on its latest heartbeat.
          example: 12
        memory_mb:
          type: integer
          description: Worker-allocated memory budget.
          example: 4096

    AppStatus:
      type: object
      properties:
        app_name:
          type: string
          example: web-app
        request_count:
          type: integer
          format: int64
          description: Total requests handled by this app on this worker.

    AutoscaleEvent:
      type: object
      description: One row in the autoscale_events table.
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        region:
          type: string
        action:
          type: string
          enum: [scale_up, scale_down, noop]
        from_count:
          type: integer
        to_count:
          type: integer
        reason:
          type: string
        provider_kind:
          type: string
        succeeded:
          type: boolean
        error_message:
          type: string
          nullable: true

    AutoscaleEventList:
      type: object
      description: Envelope returned by GET /api/v1/admin/cluster/events.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AutoscaleEvent'
        limit:
          type: integer
        region:
          type: string
          nullable: true
          example: 9821

    # -------------------------------------------------------------------------
    # Custom domains (issue #83)
    # -------------------------------------------------------------------------
    Domain:
      type: object
      description: |
        A tenant-owned FQDN bound to a specific app. The status field is
        server-driven: `pending` is the default, `active` is set by a v2
        Caddy webhook on successful ACME issuance, `failed` is set on
        permanent ACME failure. Tenants cannot mutate status directly.
      properties:
        id:
          type: string
          example: dom_3f4a1c9e
        tenant_id:
          type: string
          example: t_acme
        app_name:
          type: string
          example: api
        fqdn:
          type: string
          example: api.acme.com
        status:
          type: string
          enum: [pending, active, failed]
          example: pending
        last_error:
          type: string
          nullable: true
          description: Set by the (v2) Caddy event webhook when ACME fails.
        created_at:
          type: string
          format: date-time
          example: '2026-06-22T12:34:56Z'
        verified_at:
          type: string
          format: date-time
          nullable: true
      required: [id, tenant_id, app_name, fqdn, status, created_at]

    DomainListResponse:
      type: object
      properties:
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'

    AddDomainRequest:
      type: object
      properties:
        fqdn:
          type: string
          description: |
            Fully-qualified domain name. Must be RFC 1035 shape (lowercase,
            ≤253 chars, ≤63 chars per label, no leading/trailing hyphens),
            no wildcards, and not ending in `.edgecloud.dev` (platform-managed
            host).
          example: api.acme.com
      required: [fqdn]

  responses:
    BadRequest:
      description: Bad request — invalid or missing parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: BAD_REQUEST
              message: name is required

    Unauthorized:
      description: Unauthorized — missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: invalid api key

    Forbidden:
      description: Forbidden — insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: forbidden

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: NOT_FOUND
              message: deployment not found

    Conflict:
      description: Conflict — resource already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: CONFLICT
              message: app already exists

    QuotaExceeded:
      description: Quota exceeded — too many resources.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: QUOTA_EXCEEDED
              message: max apps quota exceeded

    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INTERNAL_ERROR
              message: internal error

  parameters:
    appName:
      name: appName
      in: path
      required: true
      schema:
        type: string
      description: Unique name of the app within the tenant.

paths:
  # -------------------------------------------------------------------------
  # Public
  # -------------------------------------------------------------------------
  /metrics:
    get:
      operationId: getAllMetrics
      summary: Prometheus metrics scrape endpoint (all tenants)
      description: |
        Returns Prometheus text-format (0.0.4) metrics for all tenants.
        Unauthenticated — intended for internal operator/Prometheus scrape access
        only. Do not expose on the public load balancer.
      security: []
      responses:
        '200':
          description: Prometheus text-format metrics
          content:
            text/plain:
              schema:
                type: string

  /health:
    get:
      operationId: health
      summary: Health check
      description: Returns 200 if the control plane is running. No auth required.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v1/tenants:
    post:
      operationId: bootstrapTenant
      summary: Self-signup — create tenant and first API key
      description: |
        Creates a new tenant and atomically issues the first API key.
        No authentication required. The returned raw API key is shown only once.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapRequest'
            example:
              name: acme
              key_name: default
      responses:
        '201':
          description: Tenant and API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/keys:
    post:
      operationId: createAPIKey
      summary: Create a new API key for the authenticated tenant
      description: |
        Issues a new API key scoped to the authenticated tenant.
        The raw key is returned only once — store it securely.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              name: ci-key
              role: developer
      responses:
        '201':
          description: API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listAPIKeys
      summary: List all API keys for the authenticated tenant
      responses:
        '200':
          description: List of API key metadata (raw keys not included).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Auth
  # -------------------------------------------------------------------------
  /api/v1/auth/whoami:
    get:
      operationId: whoami
      summary: Return the authenticated tenant and API key identity
      responses:
        '200':
          description: Authenticated identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoamiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Apps
  # -------------------------------------------------------------------------
  /api/v1/apps:
    get:
      operationId: listApps
      summary: List all apps for the authenticated tenant
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Paginated list of apps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}:
    post:
      operationId: createApp
      summary: Create a new app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '201':
          description: App created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      operationId: getApp
      summary: Get a specific app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: App details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      operationId: updateApp
      summary: Update mutable fields of an app
      description: |
        Updates the mutable fields (currently only `description`) of
        an existing app. Nullable fields: omit the field or send `null`
        to leave it unchanged; send `""` to clear it.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '200':
          description: App updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Deployments
  # -------------------------------------------------------------------------
  /api/v1/deploy/{appName}:
    post:
      operationId: deploy
      summary: Upload and deploy a Wasm artifact
      description: |
        Stores the artifact, registers a new deployment, and auto-creates
        the app record if it does not already exist. The artifact is
        validated as a WebAssembly binary before storage.

        **Preview deploys (issue #308):** set `?preview-id=<hex>` to mark
        the deploy as a preview. The control plane allocates a per-preview
        store scope (KV/cache/scheduler) on the worker and stamps
        `EDGE_PREVIEW_PR_NUMBER=<N>` into the guest env when a PR number
        is forwarded. The PreviewGCService deletes the row + artifact
        blob once `preview_expires_at` is in the past (default 7d,
        override via `?preview-ttl=<duration>`).
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: preview-id
          in: query
          required: false
          schema:
            type: string
            pattern: '^[a-f0-9]{8,16}$'
          description: |
            Hex preview-id (issue #308). When set, the deploy is
            stamped as a preview: the worker scopes its KV/cache/
            scheduler stores under a `/preview-{id}/` subdirectory,
            and the response includes the resolved `expires_at`
            timestamp. Must match `^[a-f0-9]{8,16}$` if present.
        - name: preview-pr-number
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: |
            GitHub PR number forwarded by the composite action. When
            set alongside `preview-id`, the control plane stamps
            `EDGE_PREVIEW_PR_NUMBER=<N>` into the guest env so the
            service can render PR-aware UI. Optional: a laptop user
            running `--preview` outside CI sets `preview-id` without
            this param.
        - name: preview-ttl
          in: query
          required: false
          schema:
            type: string
          description: |
            Go-style duration string (e.g. `"24h"`, `"168h"`).
            Defaults to 168h (7d) when `preview-id` is set. The control
            plane resolves it to an absolute TIMESTAMPTZ stored on the
            deployment row; the PreviewGCService deletes expired rows
            on its sweep tick.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
            description: Raw Wasm artifact bytes.
      responses:
        '201':
          description: Deployment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/status/{deploymentID}:
    get:
      operationId: getDeploymentStatus
      summary: Get deployment details by ID
      parameters:
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
          description: The deployment ID returned by the deploy endpoint.
      responses:
        '200':
          description: Deployment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/list/{appName}:
    get:
      operationId: listDeployments
      summary: List deployments for an app with pagination
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Paginated deployment list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/activate/{deploymentID}:
    post:
      operationId: activateDeployment
      summary: Activate a deployment, optionally as a canary
      description: |
        Publishes a task update over NATS JetStream so subscribed workers
        start serving the specified deployment.

        When `?weight=100` (default): atomically replaces the live deployment —
        all traffic switches to the new version.

        When `?weight=N` (0 < N < 100): activates the deployment as a canary
        at N% traffic. The currently active deployment absorbs the remaining
        (100-N)% so traffic always sums to 100. Both deployments run
        concurrently on workers.

        Use `PUT /api/v1/apps/{appName}/traffic` for full control over
        weighted routing between multiple deployments.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
        - name: weight
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
          description: |
            Traffic weight for this deployment (0–100). Omit or use 100 for
            atomic cutover. Values 0–99 trigger canary mode.
      responses:
        '200':
          description: Deployment activated (or traffic split set for canary).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/promote/{deploymentID}:
    post:
      operationId: promoteDeployment
      summary: Promote a preview deployment to production
      description: |
        Activates a deployment under a different app name than it was
        originally deployed under. Used to promote a preview deployment
        (deployed under a suffixed name like `myapp--preview-abc123`) to
        the real app name. The deployment must belong to the same tenant.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Target app name for promotion.
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
          description: The deployment ID to promote (from a preview deploy).
      responses:
        '200':
          description: Deployment promoted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: promoted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/rollback:
    post:
      operationId: rollbackDeployment
      summary: Roll back the active deployment to the stored last-good deployment
      description: |
        Replaces the currently active deployment of `appName` with the
        deployment recorded as the most recent `last_good_deployment_id`.
        Used after a bad activation to put the app back on a known-good
        version. The previously active deployment becomes the new
        `last_good_deployment_id`, so the operation is itself reversible.
        A NATS task update is published to every region the deployment
        is replicated to so workers re-converge.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Deployment rolled back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            No prior `last_good_deployment_id` is recorded for this app,
            so there is nothing to roll back to. Returned when the app
            has only ever had one deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: |
            The post-commit NATS publish of the task update failed for
            every region the deployment is replicated to. The control
            plane has already committed the new active deployment, but
            workers may not converge until the publish is retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/active:
    get:
      operationId: getActiveDeployment
      summary: Get the currently active deployment for an app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Active deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/logs:
    get:
      operationId: listLogsForApp
      summary: List recent log entries for an app
      description: |
        Returns the most recent log entries for the named app within
        the caller's tenant, newest first. Supports `since` (RFC3339
        cutoff), `level` (minimum severity), and `limit` (max items).

        The cutoff is computed server-side against the database clock
        (NOW() - interval), so wall-clock skew between this server
        and the database does not affect what is returned.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            RFC3339 cutoff; missing → server default (5m). Future-dated
            values are clamped to the default window.
        - name: level
          in: query
          required: false
          schema:
            type: string
            enum: [trace, debug, info, warn, error]
          description: |
            Minimum severity. Filter is inclusive: `level=warn` returns
            `warn` and `error`. Unknown values → 400.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: |
            Maximum items to return. Values outside [1, 1000] are
            clamped; absent or zero → server default (100).
      responses:
        '200':
          description: Log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/status:
    get:
      operationId: getAppWorkerStatus
      summary: Get the worker-reported status of an app
      description: |
        Returns the most recent worker-reported status for the named
        app within the caller's tenant. The `status` field is the
        same string the worker publishes in NATS heartbeats
        (`running`, `starting`, `stopping`, `crashed`, `hung`), or
        `unknown` when no worker has reported on this app yet.

        A `crashed` status surfaces when the worker observed the
        app's WASM component exit with a non-zero code or fail
        health checks. The CLI's `edge logs` uses this status to
        print a rollback hint when fresh (< 5 minutes old).

        There is no server-side TTL on heartbeats — a dead worker
        leaves its last-known status behind indefinitely. The
        client should treat a `last_heartbeat` older than a few
        minutes as stale.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Worker-reported status (or "unknown" if no worker has reported).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWorkerStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Traffic Splits
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/traffic:
    get:
      operationId: getTrafficSplits
      summary: Get the current traffic split configuration for an app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Traffic split configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  app_name:
                    type: string
                    example: my-app
                  splits:
                    type: array
                    items:
                      type: object
                      properties:
                        deployment_id:
                          type: string
                          example: d_abc123
                        weight:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: setTrafficSplits
      summary: Set the traffic split configuration for an app (canary/blue-green)
      description: |
        Atomically sets the traffic split for an app. Sum of weights must equal 100.
        Publishes a task update to workers so they start all deployments concurrently.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [splits]
              properties:
                splits:
                  type: array
                  items:
                    type: object
                    required: [deployment_id, weight]
                    properties:
                      deployment_id:
                        type: string
                        example: d_abc123
                      weight:
                        type: integer
                        minimum: 0
                        maximum: 100
      responses:
        '200':
          description: Traffic split configured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: traffic_set
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Ingress
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/ingress:
    get:
      operationId: appIngress
      summary: Get the routing target for an app
      description: |
        Returns whether the app is currently running on a worker and, if so,
        the worker address and port. Used by the CLI to validate that a live
        URL is actually routable. Only returns data for the authenticated
        tenant's own apps.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: App is running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponseReady'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: App not running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponseNotReady'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Environment Variables
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/env:
    get:
      operationId: listEnvVars
      summary: List all environment variables for an app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: |
            Array of environment variable key-value pairs, sorted
            alphabetically by key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      operationId: setEnvVar
      summary: Set or update an environment variable
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetEnvRequest'
            example:
              key: LOG_LEVEL
              value: debug
      responses:
        '204':
          description: Environment variable set.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/env/{key}:
    delete:
      operationId: deleteEnvVar
      summary: Delete an environment variable
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The environment variable key to delete.
      responses:
        '204':
          description: Environment variable deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Migration
  # -------------------------------------------------------------------------
  /api/v1/migrate:
    post:
      operationId: migrate
      summary: Submit C source code for auto-transformation and WASI compilation
      description: |
        Accepts a C source file, applies tree-sitter analysis to detect
        POSIX/WASI migration patterns, auto-transforms safe patterns, and
        compiles the result to a WebAssembly component via wasi-sdk.
        The resulting artifact is stored and a deployment record is created.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, filename, language]
              properties:
                file:
                  type: string
                  format: binary
                  description: The C source file to migrate.
                filename:
                  type: string
                  description: Original filename (used to derive the app name).
                  example: hello_world.c
                language:
                  type: string
                  enum: [c]
                  description: Currently only "c" is supported.
      responses:
        '200':
          description: Migration report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/migrate-tree:
    post:
      operationId: migrateTree
      summary: Submit a multi-file source tree for auto-transformation and WASI compilation
      description: |
        Accepts either a zip archive or multipart parts + JSON manifest
        containing C or Rust source files. Each file is analyzed for
        POSIX/WASI migration patterns, auto-transformed where safe, and
        compiled to a WebAssembly component. The resulting artifact is
        stored and a deployment record is created.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [tree, app_name, language]
              properties:
                app_name:
                  type: string
                  pattern: '^[a-z0-9][a-z0-9-]{0,62}$'
                  description: Unique app name (alphanumeric, hyphens, 1-63 chars).
                  example: my-app
                language:
                  type: string
                  enum: [c, rust]
                  description: Source language.
                tree:
                  type: string
                  format: binary
                  description: |
                    Either a zip archive (Content-Type application/zip) or a
                    JSON manifest `{"files":["path1","path2",...]}` referencing
                    individual `file` parts. Zip is the recommended format.
                file:
                  type: string
                  format: binary
                  description: |
                    One `file` part per entry in the tree manifest. Required
                    when `tree` is a JSON manifest. Ignored when `tree` is zip.
      responses:
        '200':
          description: Tree migration report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreeMigrationReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Request body too large.
        '422':
          description: Migration failed (source errors or compile failure).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreeMigrationReport'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Quotas
  # -------------------------------------------------------------------------
  /api/v1/quotas:
    get:
      operationId: getQuota
      summary: Get the authenticated tenant's resource quota limits
      responses:
        '200':
          description: Quota limits and current usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/keys/{keyID}:
    put:
      operationId: updateAPIKey
      summary: Update an API key's name or role
      parameters:
        - name: keyID
          in: path
          required: true
          schema:
            type: string
          description: The API key ID to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAPIKeyRequest'
      responses:
        '200':
          description: API key updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      operationId: deleteAPIKey
      summary: Revoke an API key
      parameters:
        - name: keyID
          in: path
          required: true
          schema:
            type: string
          description: The API key ID to revoke.
      responses:
        '204':
          description: API key revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/keys/{keyID}/rotate:
    post:
      operationId: rotateAPIKey
      summary: Rotate an API key (generate new key, expire old one)
      parameters:
        - name: keyID
          in: path
          required: true
          schema:
            type: string
          description: The API key ID to rotate.
      responses:
        '201':
          description: New API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Egress allowlist
  # -------------------------------------------------------------------------
  /api/v1/egress:
    get:
      operationId: getEgressAllowlist
      summary: Get the authenticated tenant's outbound egress allowlist
      responses:
        '200':
          description: Current egress allowlist. Empty array means allow-all (no restriction).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressAllowlist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: updateEgressAllowlist
      summary: Replace the authenticated tenant's outbound egress allowlist
      description: >
        Replaces the tenant's allowlist and immediately republishes TaskMessages
        to all running workers so they enforce the new policy without a manual
        re-activate. An empty array clears the list (allow-all). A non-empty
        array restricts outbound HTTP to only the listed hostnames or wildcard
        patterns (e.g. `api.stripe.com`, `*.sendgrid.net`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EgressAllowlist'
      responses:
        '200':
          description: Updated allowlist (normalized to lowercase).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressAllowlist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/metrics:
    get:
      operationId: getTenantMetrics
      summary: Prometheus metrics for the authenticated tenant
      description: |
        Returns Prometheus text-format (0.0.4) metrics for the calling tenant only.
        Includes request counts, outbound bytes, and any guest-emitted counters,
        gauges, and histogram samples from `edge:observe`.
      responses:
        '200':
          description: Prometheus text-format metrics for this tenant
          content:
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Webhooks
  # -------------------------------------------------------------------------
  /api/v1/webhooks:
    post:
      operationId: createWebhook
      summary: Create a new webhook subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listWebhooks
      summary: List all webhooks for the authenticated tenant
      responses:
        '200':
          description: List of webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/webhooks/{webhookID}:
    put:
      operationId: updateWebhook
      summary: Update a webhook subscription
      parameters:
        - name: webhookID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook subscription
      parameters:
        - name: webhookID
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Admin: Tenants
  # -------------------------------------------------------------------------
  /api/v1/admin/tenants:
    get:
      operationId: listTenants
      summary: List all tenants (admin only)
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of all tenants.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      operationId: createTenant
      summary: Create a tenant (admin only)
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/admin/tenants/{tenantID}:
    get:
      operationId: getTenant
      summary: Get a tenant by ID (admin only)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      operationId: updateTenant
      summary: Update a tenant (admin only)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      operationId: deleteTenant
      summary: Delete a tenant and all its data (admin only)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Admin: Apps
  # -------------------------------------------------------------------------
  /api/v1/admin/apps/{appName}:
    delete:
      operationId: adminDeleteApp
      summary: Force-delete any tenant's app (admin only)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '204':
          description: App deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Admin: Cluster
  # -------------------------------------------------------------------------
  /api/v1/admin/cluster:
    get:
      operationId: getClusterView
      summary: Get a cluster-wide snapshot of all workers and apps (admin only)
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Cluster state snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/admin/cluster/events:
    get:
      operationId: listAutoscaleEvents
      summary: List recent cluster autoscaler events (admin only)
      description: Returns the most-recent autoscale_events rows, newest first.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: region
          required: false
          schema:
            type: string
          description: Restrict to a single region. Omit for all regions.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
          description: Maximum rows to return. Clamped to [1, 500].
      responses:
        '200':
          description: Event list, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleEventList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Secrets key management (internal auth)
  # -------------------------------------------------------------------------
  /api/v1/admin/secrets/keys:
    get:
      operationId: listSecretsKeys
      summary: List key IDs in the secrets keyring
      security:
        - InternalTokenAuth: []
      responses:
        '200':
          description: Key IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  key_ids:
                    type: array
                    items:
                      type: string
                  active_key:
                    type: string
                  encryption_enabled:
                    type: boolean
        '401':
          description: Missing or invalid internal token

  /api/v1/admin/secrets/re-encrypt:
    post:
      operationId: reEncryptSecrets
      summary: Re-encrypt all env values with the active key
      security:
        - InternalTokenAuth: []
      responses:
        '200':
          description: Re-encryption complete
          content:
            application/json:
              schema:
                type: object
                properties:
                  re_encrypted:
                    type: integer
                  status:
                    type: string
        '400':
          description: Encryption not configured
        '500':
          description: Re-encryption failed

  /api/v1/internal/traffic/{tenantID}/{appName}:
    get:
      summary: Internal traffic split lookup
      parameters:
        - in: path
          name: tenantID
          required: true
          schema:
            type: string
        - in: path
          name: appName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Traffic split data

  /api/v1/internal/rate-limits/{tenantID}/{appName}:
    get:
      summary: Per-app rate limit override for the ingress
      description: |
        Returns per-app rate limit overrides consumed by the edge-ingress
        ratelimit fetcher. Both fields default to 0 (no override).
      parameters:
        - in: path
          name: tenantID
          required: true
          schema:
            type: string
        - in: path
          name: appName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rate limit override
          content:
            application/json:
              schema:
                type: object
                properties:
                  rps:
                    type: integer
                    description: Requests per second (0 = no override)
                  burst:
                    type: integer
                    description: Burst size (0 = no override)
        '400':
          description: Invalid app name or tenant ID
        '404':
          description: App not found

  # -------------------------------------------------------------------------
  # Custom domains (issue #83)
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/domains:
    post:
      operationId: addDomain
      summary: Bind a custom FQDN to an existing app
      description: |
        Validates the FQDN shape (RFC 1035, lowercase, ≤253 chars, no
        wildcards, no `.edgecloud.dev` suffix), enforces a per-app quota
        (50 by default), and inserts a row in `pending` state. The ingress
        picks up the new row on its next 30 s poll and Caddy begins ACME
        issuance on the first request to that host.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/appName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDomainRequest'
      responses:
        '201':
          description: Domain row created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: App not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      operationId: listDomains
      summary: List all custom FQDNs bound to an app
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/appName'
      responses:
        '200':
          description: List of domain rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/domains/{fqdn}:
    get:
      operationId: getDomain
      summary: Fetch one domain row by FQDN
      description: |
        Returns the row including its `status`, `last_error` (if the v2
        Caddy webhook has populated it), and `verified_at`. Use this to
        diagnose a `failed` row.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/appName'
        - name: fqdn
          in: path
          required: true
          schema:
            type: string
          description: The FQDN to look up.
      responses:
        '200':
          description: Domain row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No row matches (app, fqdn).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      operationId: removeDomain
      summary: Unbind a custom FQDN from an app
      description: |
        Deletes the row. The ingress drops the FQDN route on its next
        30 s poll and Caddy's cert for that host is not renewed on expiry.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/appName'
        - name: fqdn
          in: path
          required: true
          schema:
            type: string
          description: The FQDN to remove.
      responses:
        '204':
          description: Domain row removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No row matches (app, fqdn).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Internal: Worker-facing
  # -------------------------------------------------------------------------
  /api/internal/download/{deploymentID}:
    get:
      operationId: downloadArtifact
      summary: Download the Wasm artifact for a deployment
      description: |
        Used by workers to download artifact content after a task update,
        AND by peer control planes to pull artifacts through this CP for
        a remote region's worker. Auth is dual-lane:

          - **Worker JWT** (existing): a valid 24h HMAC JWT in
            `Authorization: Bearer <token>`. Used by every edge-worker
            today.
          - **Internal token** (new, issue #127 step 3): the
            `X-Internal-Token: <value>` header matching the receiving
            CP's `internal_token` config. Used by a peer CP whose local
            cache is cold when a worker in its region calls. The peer
            CP must use `https://` to protect the token in transit.

        A request presenting `Authorization` is dispatched to the worker
        lane (and rejected if the JWT is invalid); a request without
        `Authorization` is dispatched to the internal-token lane. The
        internal-token lane is fail-closed when `internal_token` is
        unset, so a misconfigured CP cannot accidentally widen access.
      security:
        - WorkerJWTAuth: []
        - InternalTokenAuth: []
      parameters:
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wasm artifact binary.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/internal/workers:
    post:
      operationId: registerWorker
      summary: Register a worker with the control plane
      description: |
        Called by a worker on startup. The worker's JWT contains its identity
        (worker_id, tenant_id, apps). This call persists worker metadata and
        subscribes the control plane to the worker's heartbeat stream.
      security:
        - WorkerJWTAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWorkerRequest'
      responses:
        '201':
          description: Worker registered.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      operationId: listWorkers
      summary: List all registered workers for the tenant
      security:
        - WorkerJWTAuth: []
      responses:
        '200':
          description: List of workers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

parameters:
  appName:
    name: appName
    in: path
    required: true
    schema:
      type: string
    description: Unique name of the app within the tenant.
