openapi: 3.0.3
info:
  title: edgeCloud Control Plane API
  version: 1.0.0
  description: |
    HTTP API for the edgeCloud managed WebAssembly edge computing platform.
    Supports tenant and worker authentication. Tenants authenticate via
    Bearer API key. Workers authenticate via Bearer JWT (HMAC-SHA256).

servers:
  - url: https://api.edgecloud.dev
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: Tenant API key (Bearer token). Obtain via POST /api/v1/keys.
    WorkerJWTAuth:
      type: http
      scheme: bearer
      description: Worker JWT (HMAC-SHA256). Issued to workers by the control plane.
    InternalTokenAuth:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: |
        Shared-secret header for trusted service-to-service callers
        (peer control planes pulling artifacts, the edge-ingress
        fetching traffic splits). Token value must match the
        receiving control plane's `internal_token` config. Reject
        requests to `http://` peer URLs — TLS is required to protect
        the token in transit.

  schemas:
    # -------------------------------------------------------------------------
    # Shared
    # -------------------------------------------------------------------------
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: NOT_FOUND
            message:
              type: string
              description: Human-readable error detail. Always "internal error" for 5xx.
              example: deployment not found

    # -------------------------------------------------------------------------
    # Health
    # -------------------------------------------------------------------------
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, unhealthy]
          example: ok
          description: |
            `ok` — all background loops are healthy. `degraded` — at
            least one loop has panicked or is stale; the response is
            still 200 so load balancers keep the CP in rotation. See
            `degraded_reasons` and `loops` for the per-loop state.
            `unhealthy` — DB or NATS connectivity failed; the response
            is 503.
        loops:
          type: object
          description: |
            Per-background-loop liveness state, sourced from
            `internal/loophealth` (issue #443). Keys are the loop
            names (`heartbeat`, `log_gc`, `reconcile`, `worker_gc`,
            `deployment_gc`, `autoscale`).
          additionalProperties:
            $ref: '#/components/schemas/LoopState'
          example:
            heartbeat:
              name: heartbeat
              panics: 0
              running: true
              stale: false
            log_gc:
              name: log_gc
              panics: 0
              running: true
              stale: false
        degraded_reasons:
          type: array
          description: |
            Loop names currently in degraded state
            (panics>0 or stale=true). Absent when status is `ok`.
          items:
            type: string
          example:
            - heartbeat

    # Returned only on the 503 path of GET /ready (issue #48 follow-up
    # to PR #685). Distinct from HealthResponse because the unhealthy
    # body carries the failing component + raw error, not the per-loop
    # snapshot — operators want to know *why* the CP pulled itself
    # from rotation, not just that it did.
    UnhealthyResponse:
      type: object
      required: [status, failure_component, error]
      properties:
        status:
          type: string
          enum: [unhealthy]
          example: unhealthy
          description: Always `unhealthy` on this response. The 200/503 split is via HTTP status, not this field.
        failure_component:
          type: string
          enum: [db, nats]
          description: |
            Which dependency check failed first. The DB ping runs
            before NATS, so a simultaneous failure surfaces `db`.
          example: db
        error:
          type: string
          description: |
            Raw error message from the failing dependency
            (`db.PingContext` or `nc.FlushTimeout`). Operator-internal;
            no PII or secret material leaks through here.
          example: "dial tcp 127.0.0.1:5432: connect: connection refused"

    LoopState:
      type: object
      properties:
        name:
          type: string
          example: heartbeat
        started_at:
          type: string
          format: date-time
          nullable: true
          description: RFC3339 timestamp the loop body first entered.
        last_beat_at:
          type: string
          format: date-time
          nullable: true
          description: |
            RFC3339 timestamp of the most recent liveness beat. For
            the heartbeat and autoscale loops the drain bumps this
            per message / per tick (issue #443 review finding #3);
            for the GC loops the wrapper bumps it on entry.
        panics:
          type: integer
          example: 0
          description: Count of recovered panics since process start.
        running:
          type: boolean
          example: true
          description: True while the loop body is currently executing.
        stale:
          type: boolean
          example: false
          description: |
            True if `now - last_beat_at` exceeds `LOOP_STALE_AFTER`
            (default 2 minutes).

    # -------------------------------------------------------------------------
    # Tenants
    # -------------------------------------------------------------------------
    BootstrapRequest:
      type: object
      required: [name, key_name]
      properties:
        name:
          type: string
          description: Unique tenant name.
          example: acme
        plan:
          type: string
          default: free
          description: Subscription plan.
          example: free
        key_name:
          type: string
          description: Name for the first API key.
          example: default

    BootstrapResponse:
      type: object
      properties:
        tenant_id:
          type: string
          description: The new tenant's ID.
          example: t_abc123
        api_key:
          type: string
          description: |
            The raw API key. Shown only once — store it securely.
            Use Authorization: Bearer <api_key> for all subsequent requests.
          example: ek_...

    CreateTenantRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: acme
        plan:
          type: string
          example: free

    Tenant:
      type: object
      properties:
        id:
          type: string
          example: t_abc123
        name:
          type: string
          example: acme
        plan:
          type: string
          example: free
        allowlisted_destinations:
          type: array
          items:
            type: string
          example: ["api.stripe.com"]
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
          example: acme-inc
        plan:
          type: string
          example: pro
        allowlisted_destinations:
          type: array
          items:
            type: string
          example: ["api.stripe.com", "api.github.com"]

    # -------------------------------------------------------------------------
    # API Keys
    # -------------------------------------------------------------------------
    CreateAPIKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: ci-key
        role:
          type: string
          default: developer
          description: "Role for this key: 'developer' or 'owner'."
          example: developer

    CreateAPIKeyResponse:
      type: object
      properties:
        id:
          type: string
          example: k_abc123
        name:
          type: string
          example: ci-key
        role:
          type: string
          example: developer
        token:
          type: string
          description: Raw key shown only once.
          example: ek_...

    APIKeyInfo:
      type: object
      properties:
        id:
          type: string
          example: k_abc123
        name:
          type: string
          example: ci-key
        role:
          type: string
          example: developer
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"
        last_used:
          type: string
          format: date-time
          nullable: true
          description: |
            Most recent time this key authenticated a request. Absent
            (or null) for keys that have never been used. RFC3339.
          example: "2026-07-08T11:23:45Z"
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            Absolute expiry timestamp. Absent (or null) for keys
            that do not expire.
          example: "2027-01-01T00:00:00Z"

    UpdateAPIKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: New name. Omit to leave unchanged.
          example: renamed-key
        role:
          type: string
          description: "New role. Omit to leave unchanged. Valid roles: 'developer', 'owner', 'viewer'."
          example: viewer

    CreateWebhookRequest:
      type: object
      required: [url, secret, events]
      properties:
        url:
          type: string
          format: uri
          description: HTTPS callback URL.
          example: https://hooks.example.com/deploy
        secret:
          type: string
          description: HMAC signing secret (min 16 chars).
          example: whsec_abc123def456
        events:
          type: array
          items:
            type: string
            enum: [deploy, activate, rollback, auto_rollback]
          description: Event types that trigger this webhook.
          example: [deploy, activate]
        description:
          type: string
          description: Optional description.
          example: Production deploy notifications

    Webhook:
      type: object
      properties:
        id:
          type: string
          example: wh_abc123
        tenant_id:
          type: string
          example: t_abc123
        url:
          type: string
          example: https://hooks.example.com/deploy
        events:
          type: array
          items:
            type: string
          example: [deploy, activate]
        description:
          type: string
          example: Production deploy notifications
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2026-07-03T18:00:00Z"

    UpdateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTPS callback URL. Omit to leave unchanged.
        secret:
          type: string
          description: New HMAC signing secret. Omit to leave unchanged.
        events:
          type: array
          items:
            type: string
          description: Replace event types. Omit to leave unchanged.
        description:
          type: string
          description: Replace description. Omit to leave unchanged.
        enabled:
          type: boolean
          description: Enable or disable. Omit to leave unchanged.

    WebhookListResponse:
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'

    # -------------------------------------------------------------------------
    # Webhook deliveries (issue #659)
    #
    # `request_body` and `response_body` are deliberately NOT modeled
    # here — the server tags them `json:"-"` on the Go side (see
    # `edge-control-plane/internal/domain/webhook.go`), so the wire
    # never carries them. Documenting them as schema fields would lie
    # to SDK consumers.
    # -------------------------------------------------------------------------
    WebhookDelivery:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Server-assigned monotonic delivery id.
        webhook_id:
          type: string
          example: wh_abc123
        event_type:
          type: string
          enum: [deploy, activate, rollback, auto_rollback]
        status:
          type: string
          enum: [pending, success, failed, retrying]
          description: |
            Final outcome of this attempt:
              * `success` — upstream returned a 2xx
              * `failed`  — all retries exhausted (see `attempt`/`max_attempts`)
              * `retrying` — transient failure; next attempt scheduled
              * `pending`  — enqueued but not yet sent
        status_code:
          type: integer
          nullable: true
          description: HTTP status code returned by the upstream endpoint (null while pending).
        error_msg:
          type: string
          description: Truncated upstream error / connection failure reason.
        attempt:
          type: integer
          description: 1-based attempt counter.
        max_attempts:
          type: integer
          description: Total retries budget for this event.
        created_at:
          type: string
          format: date-time
          description: Wall-clock time the delivery was enqueued.
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: Wall-clock time the delivery reached a terminal status (null while pending).

    WebhookDeliveriesResponse:
      type: object
      required: [deliveries, limit, next_cursor]
      properties:
        deliveries:
          type: array
          items:
            $ref: '#/components/schemas/WebhookDelivery'
        limit:
          type: integer
          description: Effective page size after server-side clamping (max 200).
          example: 50
        next_cursor:
          type: string
          nullable: true
          description: |
            Opaque cursor for the next page. Pass this string verbatim as
            the `?cursor=` query parameter to fetch the next page.
            `null` indicates the current page is the final page.
            The cursor is base64url-encoded; its internal shape is server-private
            and may change between server versions — consumers MUST treat it
            as opaque.
          example: eyJ2IjoxLCJ0cyI6IjIwMjYtMDctMTRUMTM6MDE6MDFaIiwiaWQiOjk5fQ

    # -------------------------------------------------------------------------
    # Billing (issue #419)
    # -------------------------------------------------------------------------
    BillingCheckoutRequest:
      type: object
      required: [plan]
      properties:
        plan:
          type: string
          enum: [pro, business, enterprise]
          description: Paid tier to charge for. "free" is rejected.
        success_url:
          type: string
          format: uri
          description: Optional override for the post-checkout redirect target.
        cancel_url:
          type: string
          format: uri
          description: Optional override for the user-canceled redirect target.

    BillingCheckoutResponse:
      type: object
      properties:
        checkout_url:
          type: string
          format: uri
          description: Hosted checkout page the tenant's browser should be redirected to.
          example: https://checkout.stripe.com/c/pay/cs_test_abc
        session_id:
          type: string
          description: Provider-side session identifier.
          example: cs_test_abc
        expires_at:
          type: string
          format: date-time
          description: When the checkout session expires.

    BillingPortalRequest:
      type: object
      required: [return_url]
      properties:
        return_url:
          type: string
          format: uri
          description: URL the provider-hosted portal redirects to when the user clicks "back to app".

    BillingPortalResponse:
      type: object
      properties:
        portal_url:
          type: string
          format: uri
          description: Self-service portal URL the tenant's browser should be redirected to.

    BillingWebhookAck:
      type: object
      properties:
        status:
          type: string
          enum: [ok, ignored]
          description: "ok when dispatched or replayed; ignored for verified but unsupported event types."
          example: ok

    BillingSubscription:
      type: object
      properties:
        tenant_id:
          type: string
          example: t_abc123
        provider:
          type: string
          enum: [stripe, noop]
          example: stripe
        provider_customer_id:
          type: string
          example: cus_abc123
        provider_subscription_id:
          type: string
          example: sub_xyz789
        plan:
          type: string
          enum: [free, pro, business, enterprise]
        status:
          type: string
          enum: [active, past_due, canceled, incomplete, trialing]
        current_period_end:
          type: string
          format: date-time
        cancel_at_period_end:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # Apps
    # -------------------------------------------------------------------------
    CreateAppRequest:
      type: object
      properties:
        description:
          type: string
          description: Optional human-readable description.
          example: Main web app

    UpdateAppRequest:
      type: object
      properties:
        description:
          type: string
          nullable: true
          description: |
            New description. Send `null` or omit to leave unchanged.
            Send `""` to clear the description.
          example: Updated description

    App:
      type: object
      properties:
        id:
          type: string
          example: a_abc123
        tenant_id:
          type: string
          example: t_abc123
        name:
          type: string
          example: web-app
        description:
          type: string
          nullable: true
          example: Main web app
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"

    AppListResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/App'
        limit:
          type: integer
          example: 50
        next_cursor:
          type: string
          nullable: true
          description: |
            Opaque keyset cursor for the next page. Pass back as
            `?cursor=` to fetch the next page of apps ordered by name.
            Absent (or null) on the final page. Issue #58.
          example: eyJ2IjoxLCJwIjp7Im5hbWUiOiJiYXR0In19

    # -------------------------------------------------------------------------
    # Deployments
    # -------------------------------------------------------------------------
    Deployment:
      type: object
      properties:
        id:
          type: string
          example: d_abc123
        tenant_id:
          type: string
          example: t_abc123
        app_name:
          type: string
          example: web-app
        status:
          type: string
          enum: [deployed, active, failed, migrated]
          example: deployed
        hash:
          type: string
          description: SHA-256 of the Wasm artifact (lowercase hex).
          example: 3a2f5e4b6c1d...
        signature:
          type: string
          description: |
            Ed25519 signature over `sha256_raw_32_bytes || deployment_id`
            (lowercase hex of the artifact SHA-256, then the deployment
            id). base64url, no padding.
          example: 5c1e9b...
        signing_key_id:
          type: string
          description: |
            Operator-chosen kid identifying which Ed25519 public key from
            the worker keyring should verify the signature.
          example: prod-2026-q3
        regions:
          type: array
          items: { type: string }
          example: [us-east-1, eu-west-1]
        auto_rollback_enabled:
          type: boolean
          example: false
        desired_replicas:
          type: integer
          description: |
            Number of workers that should run this deployment in each
            region (issue #316). 0 means no threshold.
          example: 0
        build_attestation:
          type: object
          nullable: true
          additionalProperties: true
          description: SLSA L1 DSSE envelope (issue #307 PR2).
        url:
          type: string
          description: |
            Public ingress hostname computed from `tenant_id` + `app_name`
            via `domain.IngressHost`. Always present in
            status / list / active responses.
          example: https://web-app.t_abc123.edgecloud.dev
        created_at:
          type: string
          format: date-time
          example: "2026-01-02T03:04:05Z"

    DeployResponse:
      type: object
      properties:
        id:
          type: string
          description: The new deployment ID.
          example: d_abc123
        hash:
          type: string
          description: SHA-256 of the uploaded artifact.
          example: 3a2f5e4b6c1d...
        url:
          type: string
          description: The target ingress URL for this deployment.
          example: https://web-app.t_abc123.edgecloud.dev

    DeploymentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        limit:
          type: integer
          example: 20
        next_cursor:
          type: string
          nullable: true
          description: |
            Opaque keyset cursor for the next page on
            (created_at, id). Pass back as `?cursor=` to fetch the
            next page. Absent (or null) on the final page.
            Issue #58 (cursor); #709 (text-PK cursor; the `d_<uuid>`
            id is encoded as a JSON string and survives a server
            upgrade unchanged).
          example: eyJ2IjoxLCJwIjp7InRzIjoiMjAzMS0wOC0yMFQwMTowMTowMVoiLCJpZCI6ImRfNTAifX0

    ActivateResponse:
      type: object
      properties:
        status:
          type: string
          example: activated

    RollbackResponse:
      type: object
      properties:
        deployment_id:
          type: string
          example: d_prev
          description: |
            Deployment id now active after the rollback — i.e., the
            prior `last_good_deployment_id`. Callers can persist this
            into local state so subsequent commands (e.g. `edge open`)
            target the rolled-back version.

    # -------------------------------------------------------------------------
    # Logs (issue #77 — read side)
    # -------------------------------------------------------------------------
    LogEntry:
      type: object
      description: |
        A single tenant log record. Populated by worker-side
        `edge:observe.emit_log` calls and forwarded to the control
        plane via `POST /api/internal/logs` (issue #76 / PR #98).
        Read back to tenants via `GET /api/v1/apps/{appName}/logs`.
      properties:
        id:
          type: integer
          format: int64
          example: 12345
        tenant_id:
          type: string
          example: t_abc123
        deployment_id:
          type: string
          example: d_xyz
        app_name:
          type: string
          example: myapp
        worker_id:
          type: string
          example: w_us-east-1_h01
        region:
          type: string
          example: us-east-1
        level:
          type: string
          enum: [trace, debug, info, warn, error]
          example: info
        message:
          type: string
          example: request handled in 12ms
        labels:
          type: object
          additionalProperties: true
          example: {"request_id": "req_42", "status": 200}
        ts:
          type: string
          format: date-time
          description: RFC3339 timestamp at which the log was recorded (server clock).
          example: 2026-06-24T12:00:00.123456Z

    LogListResponse:
      type: object
      description: |
        Envelope returned by `GET /api/v1/apps/{appName}/logs`. Items
        are ordered newest-first by `(ts DESC, id DESC)`, so rows that
        share a timestamp have a deterministic order and pagination
        is stable across equal timestamps. `limit` echoes the effective
        ceiling the server applied (after clamping the request to
        [1, 1000]); `since` echoes the cutoff timestamp when one was
        supplied or applied as a default.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        limit:
          type: integer
          example: 100
          description: Effective limit (clamped to [1, 1000]).
        since:
          type: string
          format: date-time
          description: |
            RFC3339 cutoff the server applied as the lower bound on
            `ts`. Empty when no `since` was supplied AND no default
            was applied (clients should not pin follow-on requests
            to a specific ts in that case).
          example: 2026-06-24T11:55:00Z
        next_cursor:
          type: string
          nullable: true
          description: |
            Opaque pagination token for the next older page. Pass as
            `cursor=<value>` to fetch the page that immediately
            precedes the last row in this response. `null` when the
            current page is the final page (no older rows remain).
            This is the only pagination contract post-#709 / #682
            hard-cut.

    AppWorkerStatus:
      type: object
      description: |
        Tenant-facing projection of the worker-reported status of one
        app, returned by `GET /api/v1/apps/{appName}/status`. `status`
        is the same string the worker publishes in NATS heartbeats
        (one of `running`, `starting`, `stopping`, `crashed`, `hung`),
        plus `unknown` when no worker has reported on this app yet.

        `last_heartbeat` is null when no worker has ever reported on
        the app. There is no server-side TTL on heartbeats — a dead
        worker leaves its last-known status behind indefinitely. The
        client should treat a heartbeat older than a few minutes
        (the worker default is 30s) as stale.
      properties:
        app_name:
          type: string
          example: myapp
        status:
          type: string
          enum: [running, starting, stopping, crashed, hung, unknown]
          example: running
        last_heartbeat:
          type: string
          format: date-time
          nullable: true
          example: 2026-06-24T12:00:00Z
        region:
          type: string
          example: us-east-1
        worker_id:
          type: string
          example: w_us-east-1_h01
        exit_code:
          type: integer
          format: int32
          nullable: true
          description: |
            Process exit code from the worker's last observation of
            this app. Set on `crashed` statuses, absent otherwise.
          example: 137

    # -------------------------------------------------------------------------
    # Ingress
    # -------------------------------------------------------------------------
    IngressResponseReady:
      type: object
      properties:
        ready:
          type: boolean
          example: true
        app_name:
          type: string
          example: web-app
        tenant_id:
          type: string
          example: t_abc123
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        worker_addr:
          type: string
          example: 203.0.113.42
        port:
          type: integer
          example: 8080

    IngressResponseNotReady:
      type: object
      properties:
        ready:
          type: boolean
          example: false
        app_name:
          type: string
          example: web-app
        reason:
          type: string
          example: no running app found for this tenant

    # -------------------------------------------------------------------------
    # L4/TCP public-port (issue #548)
    # -------------------------------------------------------------------------
    L4PortResponse:
      type: object
      required: [public_port]
      properties:
        public_port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          description: |
            Ingress-side port the tenant connects to for raw-TCP traffic to
            the named app. Allocated by the control plane from the
            configured L4 port range (default 31000-31999); persisted on
            the apps row so it survives ingress / worker restarts. Two
            ingress instances polling the same (tenant, app) see the
            same value because allocation is atomic via
            `UPDATE … WHERE l4_public_port IS NULL`.
          example: 31042

    # -------------------------------------------------------------------------
    # Environment Variables
    # -------------------------------------------------------------------------
    SetEnvRequest:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          example: LOG_LEVEL
        value:
          type: string
          example: debug

    EnvList:
      type: array
      items:
        type: object
        required: [key, value]
        properties:
          key:
            type: string
            example: LOG_LEVEL
          value:
            type: string
            example: debug

    # -------------------------------------------------------------------------
    # Egress
    # -------------------------------------------------------------------------
    EgressAllowlist:
      type: object
      properties:
        allowlist:
          type: array
          items:
            type: string
          description: >
            Outbound hostname allowlist. Empty array means allow-all (no restriction).
            Each entry is either an exact FQDN (`api.stripe.com`) or a single-level
            wildcard pattern (`*.sendgrid.net`). Entries are stored lowercase.
          example:
            - api.stripe.com
            - "*.sendgrid.net"

    # -------------------------------------------------------------------------
    # Quotas
    # -------------------------------------------------------------------------
    Quota:
      type: object
      properties:
        tenant_id:
          type: string
          example: t_abc123
        max_deployments:
          type: integer
          description: Maximum deployments per app.
          example: 10
        max_apps:
          type: integer
          description: Maximum apps for this tenant.
          example: 5
        max_workers:
          type: integer
          description: Maximum workers for this tenant.
          example: 3
        max_memory_mb:
          type: integer
          description: Memory limit in MB per worker.
          example: 256
        max_outbound_mb:
          type: integer
          description: Outbound egress cap in MB per month. -1 = unlimited (enterprise).
          example: 1000
        max_requests_per_month:
          type: integer
          description: |
            Request-count cap per calendar month (UTC). -1 = unlimited (enterprise).
            Default value depends on the tenant's plan:
            free=100000, pro=5000000, business=50000000, enterprise=unlimited.
          example: 5000000
        max_resident_seconds_per_month:
          type: integer
          description: |
            LongRunning-app resident-time cap per calendar month (UTC), in
            seconds. -1 = unlimited (enterprise). 0 = unset / admin-cleared
            (cap check skipped). Default value depends on the tenant's plan:
            free=2592000 (30 days of 1 LR app), pro=7776000 (90 days),
            business=31104000 (360 days), enterprise=unlimited.
            Handler (FaaS) apps do not contribute resident time.
            Resident-seconds is the third metered dimension added in #485.
          example: 2592000
        used_outbound_bytes:
          type: integer
          format: int64
          description: |
            Cumulative outbound bytes used in the current UTC month. Resets on month rollover.
            Drives enforcement: when this value reaches `max_outbound_mb`,
            deploy-time returns 402 PAYMENT_REQUIRED with reason
            `quota_will_be_exceeded` and edge-ingress returns 402 with
            `Retry-After: 3600`.
          example: 0
        used_request_count:
          type: integer
          format: int64
          description: |
            Cumulative request count in the current UTC month. Resets on month rollover.
            Drives enforcement in the same way as `used_outbound_bytes`.
          example: 0
        used_memory_mb:
          type: integer
          format: int64
          description: |
            Aggregate memory (MiB) held by the tenant's active deployments (issue #44, part 2).
            Incremented on activate / promote, decremented on rollback. Unlike
            `used_outbound_bytes` and `used_request_count`, this counter is NOT
            month-bounded: the cap is per-tenant-aggregate, not per-month. Drives
            deploy-time enforcement — when `used_memory_mb + per_app_memory >
            max_memory_mb`, deploy-time returns 402 PAYMENT_REQUIRED with reason
            `memory_quota_will_be_exceeded`. Enterprise plan uses max_memory_mb=-1
            to bypass the check.
          example: 0
        used_resident_seconds:
          type: integer
          format: int64
          description: |
            Cumulative LongRunning-app resident time in the current UTC month,
            in seconds. Resets on month rollover. Handler (FaaS) apps do
            not contribute (the worker stamps `resident_seconds=null`,
            the CP translates that to 0). Drives enforcement the same way
            as `used_outbound_bytes` and `used_request_count` — when this
            value reaches `max_resident_seconds_per_month`, deploy-time
            returns 402 PAYMENT_REQUIRED with reason `quota_will_be_exceeded`
            and edge-ingress returns 402.
          example: 0
        quota_period_start:
          type: string
          format: date-time
          description: UTC timestamp at which the current usage period began. Used as the month-rollover boundary.
          example: 2026-07-01T00:00:00Z
        quota_lock_grace_until:
          type: string
          format: date-time
          nullable: true
          description: |
            Set by the heartbeat pipeline when a free-tier tenant first
            crosses cap. Deploy-time 402 is in effect immediately on
            first-cross; the request-time 402 (edge-ingress) only
            activates once this timestamp has passed. Operators can
            clear via the admin override endpoint.
          example: 2026-07-15T12:00:00Z
        overage_allowed_until:
          type: string
          format: date-time
          nullable: true
          description: |
            Per-tenant grace clock for paid tenants that have crossed
            cap. While this timestamp is in the future, the deploy-time
            cap check is skipped (request-time 402 at the edge is
            unaffected). Set by the admin override endpoint.
          example: 2026-07-20T00:00:00Z
        subscription_status:
          type: string
          enum: [active, past_due, canceled, trialing]
          description: |
            Mirrored from `billing_subscriptions.status`. Any value
            other than `active` or `trialing` causes deploy-time to
            return 402 PAYMENT_REQUIRED with reason
            `subscription_past_due`.
          example: active
        over_cap:
          type: boolean
          description: |
            Derived: true when `used_request_count >= max_requests_per_month`
            OR `used_outbound_bytes / 1MiB >= max_outbound_mb`
            OR (when `max_resident_seconds_per_month > 0`)
            `used_resident_seconds >= max_resident_seconds_per_month`.
            The edge-ingress fetcher keys its Caddy `static_response` 402
            block off this boolean. Resident-seconds is the third metered
            dimension added in #485; Handler (FaaS) apps do not contribute
            (the worker stamps `resident_seconds=null`, the CP translates
            that to a 0 contribution).
          example: false
        usage_pct:
          type: number
          nullable: true
          description: |
            Highest usage percentage across the three monthly caps
            (outbound_bytes / max_outbound_mb, request_count / max_requests_per_month,
            and used_resident_seconds / max_resident_seconds_per_month),
            expressed as a 0-100 value. null when all caps are unlimited
            (sentinel -1). Caps set to 0 (unset) are skipped.
          example: 42.5

    # -------------------------------------------------------------------------
    # Usage dashboard (issue #421)
    # -------------------------------------------------------------------------
    CurrentPeriodUsage:
      type: object
      description: |
        Current billing-period usage for the authenticated tenant.
        Derived from the single `quotas` row; the dashboard polls
        this every few seconds and renders the percentage + remaining
        capacity from these numbers.
      properties:
        period_start:
          type: string
          format: date-time
          description: UTC timestamp at which the current usage period began.
          example: 2026-07-01T00:00:00Z
        period_end:
          type: string
          format: date-time
          description: UTC timestamp at which the current usage period ends (next month boundary).
          example: 2026-08-01T00:00:00Z
        requests_used:
          type: integer
          format: int64
          description: Cumulative requests in the current period. Drives deploy-time 402 once it reaches `requests_cap`.
          example: 312
        requests_cap:
          type: integer
          format: int64
          description: Per-period request cap for the tenant's plan. -1 = unlimited.
          example: 100000
        outbound_bytes_used:
          type: integer
          format: int64
          description: Cumulative outbound bytes in the current period. Drives deploy-time 402 once it reaches `outbound_bytes_cap`.
          example: 89432
        outbound_bytes_cap:
          type: integer
          format: int64
          description: Per-period outbound cap in BYTES (not MiB) so the dashboard can render without conversion. -1 = unlimited.
          example: 1073741824
        usage_pct:
          type: number
          nullable: true
          description: |
            Highest usage percentage across the three monthly caps (0-100):
            outbound_bytes / max_outbound_mb, request_count / max_requests_per_month,
            and used_resident_seconds / max_resident_seconds_per_month.
            null when all caps are unlimited (sentinel -1). Same semantics as
            `Quota.usage_pct`; duplicated here so the dashboard can
            subscribe to this endpoint alone.
          example: 31.2

    BillingEventTimelineEntry:
      type: object
      description: |
        One row from the `billing_events` table, projected to the
        response shape. `payload_hash` (internal dedup key) is
        intentionally omitted.
      properties:
        event_id:
          type: string
          description: Merchant event ID (Stripe evt_… etc). Stable per webhook delivery.
          example: evt_1Hxxxxxx
        event_type:
          type: string
          enum: [checkout.completed, subscription.updated, subscription.deleted, payment.failed]
          description: Normalized event class — merchant-agnostic.
          example: subscription.updated
        received_at:
          type: string
          format: date-time
          description: UTC timestamp at which the webhook arrived at the control plane.
          example: 2026-07-09T14:23:01Z
        processed_at:
          type: string
          format: date-time
          nullable: true
          description: UTC timestamp at which the dispatcher finished applying the event. NULL = received but not yet processed.
          example: 2026-07-09T14:23:02Z

    UpgradeOption:
      type: object
      description: |
        One row in the `upgrade_options` array. Empty array when the
        tenant is on a paid plan (the dashboard hides the upgrade
        CTA — the tenant manages their plan via the billing portal
        link instead).
      properties:
        plan:
          type: string
          description: Plan tier name (matches `PlanSpec.Name` in domain/plans.go).
          example: pro
        monthly_price_usd:
          type: integer
          description: Per-month price in US dollars (not cents). 0 if free.
          example: 29

    TenantUsage:
      type: object
      description: |
        Response envelope for GET /api/v1/usage (issue #421). Composes
        the current-period counters, a windowed subscription-event
        timeline, and per-tenant upgrade options + billing portal
        URL. Cached for 10s in-process (stale-while-revalidate) so
        dashboard refresh doesn't hammer the DB.
      required: [tenant_id, billing_status, current_period, events, from, to, upgrade_options]
      properties:
        tenant_id:
          type: string
          example: t_abc123
        billing_status:
          type: string
          enum: [active, action_required]
          description: |
            Customer-facing billing status. `active` covers both
            healthy subscriptions and the no-subscription-row case
            (free-tier tenants that haven't started checkout).
            `action_required` covers `past_due` and `canceled`
            subscriptions — the dashboard surfaces a banner and
            surfaces the billing portal link.
          example: active
        current_period:
          $ref: '#/components/schemas/CurrentPeriodUsage'
        events:
          type: array
          description: |
            Subscription lifecycle events received in the requested
            `[from, to]` window, ordered by `received_at` DESC.
            Capped at the `limit` query param (default 50, max 200).
          items:
            $ref: '#/components/schemas/BillingEventTimelineEntry'
        from:
          type: string
          format: date-time
          description: Echoed start of the requested window (defaults to now-30d).
          example: 2026-06-10T00:00:00Z
        to:
          type: string
          format: date-time
          description: Echoed end of the requested window (defaults to now).
          example: 2026-07-10T00:00:00Z
        next_offset:
          type: string
          nullable: true
          description: |
            Opaque cursor for fetching the next page of events.
            Reserved for future pagination — issue #421 returns
            single-page reads (capped at the `limit` query param).
          example: null
        upgrade_options:
          type: array
          description: |
            Paid tiers the tenant can upgrade to. Empty when the
            tenant is already on a paid plan.
          items:
            $ref: '#/components/schemas/UpgradeOption'
        billing_portal_url:
          type: string
          nullable: true
          format: uri
          description: |
            Hosted billing portal URL (Stripe Customer Portal today).
            Omitted when the tenant has no Stripe customer row
            (e.g. a free-tier tenant that has never started checkout).
          example: https://billing.stripe.com/c/p/portal_abc

    QuotaOverrideRequest:
      type: object
      description: |
        Every field is optional. Absent fields are not modified. Setting
        `max_requests_per_month` / `max_outbound_mb` to a positive value
        raises or lowers the cap; setting to -1 marks the cap as
        unlimited. `clear_disabled_at: true` clears the free-tier
        lockdown flag; `clear_grace: true` clears both
        `quotas.quota_lock_grace_until` and
        `tenants.overage_allowed_until`.
      properties:
        max_requests_per_month:
          type: integer
          description: New request cap (-1 = unlimited).
          example: 5000000
        max_outbound_mb:
          type: integer
          description: New outbound cap in MB (-1 = unlimited).
          example: 50000
        set_overage_allowed_until:
          type: string
          format: date-time
          nullable: true
          description: Timestamp until which paid-tenant over-cap deploys are accepted.
          example: 2026-07-20T00:00:00Z
        clear_disabled_at:
          type: boolean
          description: Clear the free-tier `tenants.disabled_at` lockdown flag.
          example: false
        clear_grace:
          type: boolean
          description: Clear both `quota_lock_grace_until` and `overage_allowed_until`.
          example: false

    # -------------------------------------------------------------------------
    # Per-tenant data-plane rate limit (issue #305)
    # -------------------------------------------------------------------------
    TenantRateLimitRequest:
      type: object
      description: |
        Per-tenant data-plane rate-limit caps written by
        `PUT /api/v1/admin/tenants/{tenantID}/rate-limit`. All fields are
        optional; absent fields are not modified. Every field accepts 0
        ("no cap"). The ingress cache drops the row when all four caps are
        zero so the per-tenant `rate_limit` route disappears from Caddy
        within one `TENANT_RATE_LIMIT_FETCH_INTERVAL` tick.

        Sub-features #2 (concurrent_limit) and #3 (bandwidth_bps) are
        cached for follow-up render work — neither is consumed by the
        Caddy renderer in the issue #305 PR.
      properties:
        rps:
          type: integer
          minimum: 0
          description: Per-tenant requests-per-second cap. 0 = no cap.
          example: 100
        burst:
          type: integer
          minimum: 0
          description: Per-tenant burst paired with `rps`. 0 = falls back to rps at the renderer.
          example: 200
        concurrent_limit:
          type: integer
          minimum: 0
          description: Concurrent-request cap per tenant (sub-feature #2, render deferred).
          example: 50
        bandwidth_bps:
          type: integer
          format: int64
          minimum: 0
          description: Per-tenant bytes-per-second cap (sub-feature #3, render deferred).
          example: 5000000

    TenantRateLimitResponse:
      type: object
      description: |
        Per-tenant rate-limit row consumed by the edge-ingress
        `tenant_ratelimit` fetcher via
        `GET /api/v1/internal/rate-limit/{tenantID}`. Polls every
        `TENANT_RATE_LIMIT_FETCH_INTERVAL` (default 30s). 404 from
        this endpoint means "no quotas row" — the cache treats that as
        "delete any stale entry, emit no route". 200 with all zeros is
        identical: cache clears on the same tick.
      properties:
        tenant_id:
          type: string
          example: t_acme
        rps:
          type: integer
          example: 100
        burst:
          type: integer
          example: 200
        concurrent_limit:
          type: integer
          example: 0
        bandwidth_bps:
          type: integer
          format: int64
          example: 0

    # -------------------------------------------------------------------------
    # Migration
    # -------------------------------------------------------------------------
    MigrationReport:
      type: object
      properties:
        status:
          type: string
          enum: [migrated, failed]
          example: migrated
        wasm_stored:
          type: boolean
          example: true
        deployment_id:
          type: string
          nullable: true
          example: d_abc123
        app_name:
          type: string
          example: hello-world
        patterns_detected:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        patterns_transformed:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        patterns_manual_review:
          type: array
          items:
            $ref: '#/components/schemas/PatternInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'

    # FullPatternInfo mirrors the Go PatternInfo struct (line-level detail
    # with snippet and wasi_equivalent). Used by FileReport in the tree
    # migration response.
    FullPatternInfo:
      type: object
      properties:
        line:
          type: integer
          example: 42
        pattern:
          type: string
          example: socket
        snippet:
          type: string
          example: int fd = socket(AF_INET, SOCK_STREAM, 0);
        wasi_equivalent:
          type: string
          example: wasi:network/tcp-socket
        transformability:
          type: string
          enum: [auto-transformable, best-effort, not-transformable]

    # FileReport is the per-file result in a tree migration response.
    FileReport:
      type: object
      properties:
        path:
          type: string
          example: src/main.c
        status:
          type: string
          enum: [success, partial, failed]
        patterns_detected:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        transformations:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        manual_review:
          type: array
          items:
            $ref: '#/components/schemas/FullPatternInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'

    # TreeMigrationReport is the JSON response returned by POST /api/v1/migrate-tree.
    TreeMigrationReport:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial, failed]
        wasm_stored:
          type: boolean
          example: true
        deployment_id:
          type: string
          nullable: true
          example: d_abc123
        app_name:
          type: string
          example: hello-world
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileReport'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'
        files_total:
          type: integer
          example: 5
        files_transformed:
          type: integer
          example: 3
        files_manual_review:
          type: integer
          example: 1

    PatternInfo:
      type: object
      properties:
        pattern:
          type: string
          example: socket
        count:
          type: integer
          example: 3
        description:
          type: string
          example: BSD socket abstraction layer

    ErrorInfo:
      type: object
      properties:
        line:
          type: integer
          example: 42
        message:
          type: string
          example: unhandled macro expansion

    # -------------------------------------------------------------------------
    # Workers (internal)
    # -------------------------------------------------------------------------
    RegisterWorkerRequest:
      type: object
      required: [worker_id, region]
      properties:
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        ip:
          type: string
          example: 203.0.113.42
        memory_mb:
          type: integer
          example: 512

    Worker:
      type: object
      properties:
        id:
          type: string
          example: w_us-east1_01
        tenant_id:
          type: string
          example: t_abc123
        region:
          type: string
          example: us-east1
        ip:
          type: string
          example: 203.0.113.42
        memory_mb:
          type: integer
          example: 512

    WorkerListResponse:
      type: object
      properties:
        workers:
          type: array
          items:
            $ref: '#/components/schemas/Worker'

    # -------------------------------------------------------------------------
    # Worker token mint (issue #491)
    # -------------------------------------------------------------------------
    WorkerTokenRequest:
      type: object
      required: [tenant_id]
      properties:
        tenant_id:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '^[a-z0-9_-]+$'
          description: |
            Tenant ID to mint the per-tenant scoped JWT for. Must
            match the `^[a-z0-9_-]+$` charset; the wildcard `*` is
            rejected with 400 (issue #491 refusal-to-mint-wildcard).
          example: t_abc123

    WorkerTokenResponse:
      type: object
      required: [token, expires_at, tenant_id]
      properties:
        token:
          type: string
          description: HS256-signed JWT carrying tenant_id claim.
        expires_at:
          type: integer
          format: int64
          description: Unix-seconds expiration. Mirrors `WORKER_TOKEN_TTL` (default 15m).
        tenant_id:
          type: string
          description: Echo of the bound tenant_id for client-side confirmation.

    # -------------------------------------------------------------------------
    # Auth
    # -------------------------------------------------------------------------
    WhoamiResponse:
      type: object
      properties:
        tenant_id:
          type: string
          example: t_abc123
        tenant_name:
          type: string
          example: acme
        plan:
          type: string
          example: free
        api_key_id:
          type: string
          example: k_abc123
        api_key_name:
          type: string
          example: default
        role:
          type: string
          example: owner
        created_at:
          type: string
          format: date-time
          description: When the tenant account was created.
          example: "2026-01-02T03:04:05Z"

    # -------------------------------------------------------------------------
    # Cluster (admin)
    # -------------------------------------------------------------------------
    ClusterView:
      type: object
      description: Per-region snapshot of cluster state.
      properties:
        generated_at:
          type: string
          format: date-time
          description: Server-side timestamp when this view was assembled.
        regions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RegionView'

    RegionView:
      type: object
      properties:
        workers:
          type: array
          items:
            $ref: '#/components/schemas/WorkerStatus'
        apps_per_worker_avg:
          type: integer
          description: Mean number of apps hosted per worker in this region.

    WorkerStatus:
      type: object
      properties:
        worker_id:
          type: string
          example: w_us-east1_01
        region:
          type: string
          example: us-east1
        ip:
          type: string
          description: Worker public IP. Omitted when not reported.
          example: 203.0.113.42
        last_seen:
          type: string
          format: date-time
          description: Last heartbeat timestamp.
        app_count:
          type: integer
          description: Number of apps the worker reported on its latest heartbeat.
          example: 12
        memory_mb:
          type: integer
          description: Worker-allocated memory budget.
          example: 4096

    AppStatus:
      type: object
      properties:
        app_name:
          type: string
          example: web-app
        request_count:
          type: integer
          format: int64
          description: Total requests handled by this app on this worker.

    AutoscaleEvent:
      type: object
      description: One row in the autoscale_events table.
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        region:
          type: string
        action:
          type: string
          enum: [scale_up, scale_down, noop]
        from_count:
          type: integer
        to_count:
          type: integer
        reason:
          type: string
        provider_kind:
          type: string
        succeeded:
          type: boolean
        error_message:
          type: string
          nullable: true

    AutoscaleEventList:
      type: object
      description: Envelope returned by GET /api/v1/admin/cluster/events.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AutoscaleEvent'
        limit:
          type: integer
        region:
          type: string
          nullable: true
          example: 9821

    # -------------------------------------------------------------------------
    # Custom domains (issue #83)
    # -------------------------------------------------------------------------
    Domain:
      type: object
      description: |
        A tenant-owned FQDN bound to a specific app. The status field is
        server-driven: `pending` is the default, `active` is set by a v2
        Caddy webhook on successful ACME issuance, `failed` is set on
        permanent ACME failure. Tenants cannot mutate status directly.
      properties:
        id:
          type: string
          example: dom_3f4a1c9e
        tenant_id:
          type: string
          example: t_acme
        app_name:
          type: string
          example: api
        fqdn:
          type: string
          example: api.acme.com
        status:
          type: string
          enum: [pending, active, failed]
          example: pending
        last_error:
          type: string
          nullable: true
          description: Set by the (v2) Caddy event webhook when ACME fails.
        created_at:
          type: string
          format: date-time
          example: '2026-06-22T12:34:56Z'
        verified_at:
          type: string
          format: date-time
          nullable: true
      required: [id, tenant_id, app_name, fqdn, status, created_at]

    DomainListResponse:
      type: object
      properties:
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'

    AddDomainRequest:
      type: object
      properties:
        fqdn:
          type: string
          description: |
            Fully-qualified domain name. Must be RFC 1035 shape (lowercase,
            ≤253 chars, ≤63 chars per label, no leading/trailing hyphens),
            no wildcards, and not ending in `.edgecloud.dev` (platform-managed
            host).
          example: api.acme.com
      required: [fqdn]

  responses:
    BadRequest:
      description: Bad request — invalid or missing parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: BAD_REQUEST
              message: name is required

    Unauthorized:
      description: Unauthorized — missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: invalid api key

    Forbidden:
      description: Forbidden — insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: forbidden

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: NOT_FOUND
              message: deployment not found

    Conflict:
      description: Conflict — resource already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: CONFLICT
              message: app already exists

    QuotaExceeded:
      description: Quota exceeded — too many resources.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: QUOTA_EXCEEDED
              message: max apps quota exceeded

    PaymentRequired:
      description: |
        Billing boundary reached — request cannot be fulfilled without
        payment action. Distinct from `QuotaExceeded` (429), which is
        a per-resource throttle with a Retry-After hint. 402 indicates
        a billing condition that will not resolve by waiting:
        `subscription_past_due`, `subscription_canceled`,
        `free_tier_exceeded`, `quota_lock_grace_active`,
        `quota_will_be_exceeded`, or `memory_quota_will_be_exceeded`
        (issue #44, part 2 — the tenant's aggregate active-deployment
        memory would exceed `max_memory_mb`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: PAYMENT_REQUIRED
              message: memory quota will be exceeded by this deploy

    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INTERNAL_ERROR
              message: internal error

  parameters:
    appName:
      name: appName
      in: path
      required: true
      schema:
        type: string
      description: Unique name of the app within the tenant.

paths:
  # -------------------------------------------------------------------------
  # Public
  # -------------------------------------------------------------------------
  /metrics:
    get:
      operationId: getAllMetrics
      summary: Prometheus metrics scrape endpoint (all tenants)
      description: |
        Returns Prometheus text-format (0.0.4) metrics for all tenants.
        Unauthenticated — intended for internal operator/Prometheus scrape access
        only. Do not expose on the public load balancer.
      security: []
      responses:
        '200':
          description: Prometheus text-format metrics
          content:
            text/plain:
              schema:
                type: string

  /health:
    get:
      operationId: health
      summary: Liveness probe
      description: |
        Returns 200 if the control plane process is running and able to
        respond to HTTP. Does NOT check downstream dependencies — for a
        deep readiness check see `GET /ready`. K8s `livenessProbe` should
        point here. No auth required.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                    example: ok
                required: [status]

  /ready:
    get:
      operationId: ready
      summary: Readiness probe
      description: |
        Deep readiness check. Pings the database, flushes the NATS
        connection (2s timeout), and snapshots every background loop
        tracked by `internal/loophealth`. Returns `200` with `status=ok`
        when everything is healthy, `200` with `status=degraded` when one
        or more loops are unhealthy (DB+NATS still healthy — the CP can
        still serve reads), or `503` with `status=unhealthy` when DB or
        NATS connectivity failed. K8s `readinessProbe` should point here.
        No auth required.
      security: []
      responses:
        '200':
          description: OK or degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnhealthyResponse'

  /api/v1/tenants:
    post:
      operationId: bootstrapTenant
      summary: Self-signup — create tenant and first API key
      description: |
        Creates a new tenant and atomically issues the first API key.
        No authentication required. The returned raw API key is shown only once.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapRequest'
            example:
              name: acme
              key_name: default
      responses:
        '201':
          description: Tenant and API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/keys:
    post:
      operationId: createAPIKey
      summary: Create a new API key for the authenticated tenant
      description: |
        Issues a new API key scoped to the authenticated tenant.
        The raw key is returned only once — store it securely.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              name: ci-key
              role: developer
      responses:
        '201':
          description: API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listAPIKeys
      summary: List all API keys for the authenticated tenant
      responses:
        '200':
          description: List of API key metadata (raw keys not included).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Auth
  # -------------------------------------------------------------------------
  /api/v1/auth/whoami:
    get:
      operationId: whoami
      summary: Return the authenticated tenant and API key identity
      responses:
        '200':
          description: Authenticated identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoamiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Apps
  # -------------------------------------------------------------------------
  /api/v1/apps:
    get:
      operationId: listApps
      summary: List all apps for the authenticated tenant
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: cursor
          in: query
          schema:
            type: string
          required: false
          description: |
            Opaque keyset cursor returned as `next_cursor` from a
            prior `listApps` call. Pass it back to fetch the next
            page. Absent (or empty string) means first page. Issue #58.
      responses:
        '200':
          description: Paginated list of apps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}:
    post:
      operationId: createApp
      summary: Create a new app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '201':
          description: App created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      operationId: getApp
      summary: Get a specific app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: App details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      operationId: updateApp
      summary: Update mutable fields of an app
      description: |
        Updates the mutable fields (currently only `description`) of
        an existing app. Nullable fields: omit the field or send `null`
        to leave it unchanged; send `""` to clear it.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '200':
          description: App updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Deployments
  # -------------------------------------------------------------------------
  /api/v1/deploy/{appName}:
    post:
      operationId: deploy
      summary: Upload and deploy a Wasm artifact
      description: |
        Stores the artifact, registers a new deployment, and auto-creates
        the app record if it does not already exist. The artifact is
        validated as a WebAssembly binary before storage.

        ## Idempotency-Key (issue #52)

        A retry on a transient network error (504, dropped TCP) should
        not produce a duplicate `deployments` row. Send an
        `Idempotency-Key` header on the retry to pin the call to the
        original deployment:

        * Header is optional. Omitting it gives fresh-deploy semantics —
          same behavior as pre-#52.
        * Header value must match `^[a-fA-F0-9-]{8,128}$` (UUID v4 fits
          unmodified; ULIDs and similar IDs also fit). Malformed → 400.
        * Header is **tenant-scoped**: lookup is keyed on
          `(tenant_id, key)`, never on the key alone. Two tenants
          sending the same key each get independent rows.
        * Replay returns the cached `deployment_id` with status **200**.
          The response body is byte-equivalent to the 201 fresh path.
        * Replaying a key against a different artifact body returns
          **422 Unprocessable Entity** — this is the "you reused a
          key by mistake" guard rail. The error message identifies the
          sentinel `idempotency key reused with a different request body`.
        * Lookup TTL is 24h. Rows older than the cutoff are treated
          as fresh-deploy.

        The CLI auto-mints a UUID v4 per invocation; pass
        `--idempotency-key <UUID>` to pin a key explicitly (CI uses
        this to dedupe retried jobs).
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            pattern: '^[a-fA-F0-9-]{8,128}$'
          description: |
            Optional key that pins a retry to the original
            `deployment_id`. See the operation description for the
            full contract (replay, TTL, body-mismatch guard).
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
            description: Raw Wasm artifact bytes.
      responses:
        '200':
          description: |
            Idempotent replay — the `Idempotency-Key` matched a row
            in the replay cache. The response body is the original
            `deployResponse`; the `id` field is the cached
            `deployment_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResponse'
        '201':
          description: Deployment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          description: |
            The `Idempotency-Key` was reused against a request whose
            artifact SHA-256 differs from the cached row's hash.
            The client should pick a different key or accept that the
            artifact has changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: idempotency key reused with a different request body
        '429':
          $ref: '#/components/responses/QuotaExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/status/{deploymentID}:
    get:
      operationId: getDeploymentStatus
      summary: Get deployment details by ID
      parameters:
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
          description: The deployment ID returned by the deploy endpoint.
      responses:
        '200':
          description: Deployment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/list/{appName}:
    get:
      operationId: listDeployments
      summary: List deployments for an app with pagination
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
          required: false
          description: |
            Opaque keyset cursor returned as `next_cursor` from a
            prior `listDeployments` call. Pass it back to fetch the
            next page of deployments ordered by (created_at DESC,
            id DESC). Issue #58 (cursor); #709 (text-PK cursor —
            the embedded id is the row's text PK `d_<uuid>`).

            The compat-release `?offset=` parameter is retired: any
            non-empty value returns 400. Clients should re-fetch
            with `?cursor=` to resume a walk started before this
            change.
      responses:
        '200':
          description: Paginated deployment list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/activate/{deploymentID}:
    post:
      operationId: activateDeployment
      summary: Activate a deployment, optionally as a canary
      description: |
        Publishes a task update over NATS JetStream so subscribed workers
        start serving the specified deployment.

        When `?weight=100` (default): atomically replaces the live deployment —
        all traffic switches to the new version.

        When `?weight=N` (0 < N < 100): activates the deployment as a canary
        at N% traffic. The currently active deployment absorbs the remaining
        (100-N)% so traffic always sums to 100. Both deployments run
        concurrently on workers.

        Use `PUT /api/v1/apps/{appName}/traffic` for full control over
        weighted routing between multiple deployments.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
        - name: weight
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
          description: |
            Traffic weight for this deployment (0–100). Omit or use 100 for
            atomic cutover. Values 0–99 trigger canary mode.
      responses:
        '200':
          description: Deployment activated (or traffic split set for canary).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Tenant is disabled. Returned when the caller's tenant row has
            `disabled_at IS NOT NULL` at the moment the request reaches
            the service layer (issue #440 disable-vs-activate race gate).
            The response body is the standard error envelope with
            `error.code = "CONFLICT"` and `error.message = "tenant is disabled"`.
            The CLI / operator tooling can branch on `error.code` to
            distinguish this from a generic infrastructure 500 — the
            tenant will not auto-re-enable, retrying without operator
            action is futile.

            Scope note: this 409 is only reachable on the atomic path
            (`?weight=100`, the default). Canary activation
            (`?weight` < 100, which routes through traffic split) is
            not gated by the disable check and so cannot surface this
            response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: CONFLICT
                  message: tenant is disabled
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/promote/{deploymentID}:
    post:
      operationId: promoteDeployment
      summary: Promote a preview deployment to production
      description: |
        Activates a deployment under a different app name than it was
        originally deployed under. Used to promote a preview deployment
        (deployed under a suffixed name like `myapp--preview-abc123`) to
        the real app name. The deployment must belong to the same tenant.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Target app name for promotion.
        - name: deploymentID
          in: path
          required: true
          schema:
            type: string
          description: The deployment ID to promote (from a preview deploy).
      responses:
        '200':
          description: Deployment promoted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: promoted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Tenant is disabled. Promote delegates to the same
            `activateDeployment` path as the activate endpoint, so the
            issue #440 disable-vs-activate race gate fires identically
            here. Body shape and `error.code` are identical to the
            activate endpoint's 409.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: CONFLICT
                  message: tenant is disabled
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/rollback:
    post:
      operationId: rollbackDeployment
      summary: Roll back the active deployment to the stored last-good deployment
      description: |
        Replaces the currently active deployment of `appName` with the
        deployment recorded as the most recent `last_good_deployment_id`.
        Used after a bad activation to put the app back on a known-good
        version. The previously active deployment becomes the new
        `last_good_deployment_id`, so the operation is itself reversible.
        A NATS task update is published to every region the deployment
        is replicated to so workers re-converge.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Deployment rolled back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Either no `last_good_deployment_id` is recorded for this app
            (only one deployment has ever been activated, so there is
            nothing to roll back to), or the caller's tenant is
            disabled (issue #440 disable-vs-activate race gate).
            The message field distinguishes the two: `"no previous
            deployment to roll back to"` for the first, `"tenant is
            disabled"` for the second. The status code and
            `error.code = "CONFLICT"` are the same in both cases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_last_good:
                  summary: No last-good pointer
                  value:
                    error:
                      code: CONFLICT
                      message: no previous deployment to roll back to
                tenant_disabled:
                  summary: Tenant disabled (issue #440)
                  value:
                    error:
                      code: CONFLICT
                      message: tenant is disabled
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/active:
    get:
      operationId: getActiveDeployment
      summary: Get the currently active deployment for an app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Active deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/logs:
    get:
      operationId: listLogsForApp
      summary: List recent log entries for an app
      description: |
        Returns the most recent log entries for the named app within
        the caller's tenant, newest first by `(ts DESC, id DESC)`.
        Supports `since` (RFC3339 lower bound), `until` (RFC3339
        upper bound), `level` (minimum severity), `limit` (max items),
        and either `cursor` (preferred) or `offset` (deprecated)
        for pagination.

        The cutoff is computed server-side against the database clock
        (`NOW() - make_interval(secs => $1)`), so wall-clock skew
        between this server and the database does not affect what is
        returned.

        Pagination contracts:
        - The response contains `next_cursor` when another page
          exists; it is `null` (or absent) on the final page.
          `next_offset` is gone from the wire.
        - A cursor is scoped to an unchanged `(tenant, app, since,
          until, level)` query — clients reusing a cursor must
          preserve the original filter set, or paging may silently
          skip rows that fall outside the new filter.
        - The cursor is opaque (URL-safe base64 of a private v1
          JSON payload). The server does not sign it: authorization
          continues to come from the authenticated tenant ID plus
          the SQL `WHERE tenant_id = $1 AND app_name = $2` boundary,
          so a forged cursor cannot cross tenants or apps.
        - The compat-release `?offset=` parameter is retired: any
          non-empty value returns 400.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            RFC3339 lower bound on `ts`; missing → server default
            (5 minutes). Future-dated values are rejected with 400
            (the server does not silently clamp them). Malformed
            values are rejected with 400.
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            Optional RFC3339 upper bound on `ts`. The server returns
            rows with `ts <= until`. Future-dated values are
            rejected with 400; a value earlier than `since` is
            rejected with 400; malformed values are rejected with
            400. When omitted, the upper bound is unbounded (live
            read), so cursor pages do not freeze the watermark
            unless the caller asks for a snapshot.
        - name: level
          in: query
          required: false
          schema:
            type: string
            enum: [trace, debug, info, warn, error]
          description: |
            Minimum severity. Filter is inclusive: `level=warn` returns
            `warn` and `error`. Unknown values → 400. `trace` is
            honored as the lowest severity.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: |
            Maximum items to return. Values outside [1, 1000] are
            clamped; absent or zero → server default (100).
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque pagination token returned by a previous response
            as `next_cursor`. Pass it back here to fetch the page
            that immediately precedes the last row of that response.
            Malformed or unsupported-version cursors return 400.

            The compat-release `?offset=` parameter is retired: any
            non-empty value returns 400.
      responses:
        '200':
          description: Log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/apps/{appName}/status:
    get:
      operationId: getAppWorkerStatus
      summary: Get the worker-reported status of an app
      description: |
        Returns the most recent worker-reported status for the named
        app within the caller's tenant. The `status` field is the
        same string the worker publishes in NATS heartbeats
        (`running`, `starting`, `stopping`, `crashed`, `hung`), or
        `unknown` when no worker has reported on this app yet.

        A `crashed` status surfaces when the worker observed the
        app's WASM component exit with a non-zero code or fail
        health checks. The CLI's `edge logs` uses this status to
        print a rollback hint when fresh (< 5 minutes old).

        There is no server-side TTL on heartbeats — a dead worker
        leaves its last-known status behind indefinitely. The
        client should treat a `last_heartbeat` older than a few
        minutes as stale.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Worker-reported status (or "unknown" if no worker has reported).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWorkerStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Traffic Splits
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/traffic:
    get:
      operationId: getTrafficSplits
      summary: Get the current traffic split configuration for an app
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Traffic split configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  app_name:
                    type: string
                    example: my-app
                  splits:
                    type: array
                    items:
                      type: object
                      properties:
                        deployment_id:
                          type: string
                          example: d_abc123
                        weight:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      operationId: setTrafficSplits
      summary: Set the traffic split configuration for an app (canary/blue-green)
      description: |
        Atomically sets the traffic split for an app. Sum of weights must equal 100.
        Publishes a task update to workers so they start all deployments concurrently.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [splits]
              properties:
                splits:
                  type: array
                  items:
                    type: object
                    required: [deployment_id, weight]
                    properties:
                      deployment_id:
                        type: string
                        example: d_abc123
                      weight:
                        type: integer
                        minimum: 0
                        maximum: 100
      responses:
        '200':
          description: Traffic split configured.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: traffic_set
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # Ingress
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/ingress:
    get:
      operationId: appIngress
      summary: Get the routing target for an app
      description: |
        Returns whether the app is currently running on a worker and, if so,
        the worker address and port. Used by the CLI to validate that a live
        URL is actually routable. Only returns data for the authenticated
        tenant's own apps.
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: App is running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponseReady'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: App not running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponseNotReady'
        '500':
          $ref: '#/components/responses/InternalError'

  # -------------------------------------------------------------------------
  # L4/TCP public-port (issue #548)
  # -------------------------------------------------------------------------
  /api/v1/apps/{appName}/l4-port:
    get:
      operationId: getL4Port
      summary: Get the L4/TCP public port for an app
      description: |
        Returns the ingress-side public port allocated to this app for
        raw-TCP traffic. The port is in the configured L4 range
        (default 31000-31999) and is what the tenant's TCP clients
        should connect to. Returns 404 if the app does not exist OR
        if it exists but no port has been allocated yet (HTTP-only
        app, or no TCP heartbeat has been processed yet).
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
          description: Unique name of the app within the tenant.
      responses:
        '200':
          description: Port allocated.
          content:
            application/json:
[...]
